{% extends 'frontend\auth\patient-register-footer.html' %}
{% load static %}

{% block content %}
<!-- Register Step 4 Content -->
<div class="account-content">
    <div class="d-flex align-items-center">
        <div class="login-right">
            <div class="inner-right-login">
                <div class="login-header">
                    <div class="logo-icon">
                        <img src="{% static 'img/logo.png' %}" alt="doccure-logo">
                    </div>
                    <div class="step-list">
                        <ul>
                            <li><a href="#" class="active-done">1</a></li>
                            <li><a href="#" class="active-done">2</a></li>
                            <li><a href="#" class="active-done">3</a></li>
                            <li><a href="#" class="active">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="text-start mt-2">
                            <p>Add age of each member</p>
                            <h4 class="mt-3">Age</h4>
                        </div>
                        <div class="step-process-col mt-4">
                            <div class="mb-3">
                                <label class="mb-2">Child 1 Age</label>
                                <input type="text" class="form-control" id="Child_1_age" name="Child_1_age">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">Child 1 Image</label>
                                <input type="file" class="form-control" id="Child_1_image" name="Child_1_image">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">Spouse Age</label>
                                <input type="text" class="form-control" id="spouse_age" name="spouse_age">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">Spouse Image</label>
                                <input type="file" class="form-control" id="spouse_file" name="spouse_file">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">Father Age</label>
                                <input type="text" class="form-control" id="father_age" name="father_age">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">Father Image</label>
                                <input type="file" class="form-control" id="father_file" name="father_file">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">Mother Age</label>
                                <input type="text" class="form-control" id="mother_age" name="mother_age">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">Mother Image</label>
                                <input type="file" class="form-control" id="mother_file" name="mother_file">
                            </div>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn-primary w-100 btn-lg login-btn step4_submit">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-bottom-copyright">
                <span>© 2024 Doccure. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>
<!-- /Register Step 4 Content -->
{% endblock %}
