{% extends 'frontend\auth\patient-register-footer.html' %}
{% load static %}

{% block content %}
<!-- Register Step 3 Content -->
<div class="account-content">
    <div class="d-flex align-items-center">
        <div class="login-right">
            <div class="inner-right-login">
                <div class="login-header">
                    <div class="logo-icon">
                        <img src="{% static 'img/logo.png' %}" alt="doccure-logo">
                    </div>
                    <div class="step-list">
                        <ul>
                            <li><a href="#" class="active-done">1</a></li>
                            <li><a href="#" class="active-done">2</a></li>
                            <li><a href="#" class="active">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                    <form method="post" action="{% url 'users:register_step3' %}">
                        {% csrf_token %}
                        <div class="text-start mt-2">
                            <p>Who all you want to cover in health insurance</p>
                            <h4 class="mt-3">Select Members</h4>
                        </div>
                        <div class="checklist-col pregnant-col">
                            <div class="remember-me-col d-flex justify-content-between">
                                <span class="mt-1">Self</span>
                                <label class="custom_check mb-3">
                                    <input type="checkbox" class="form-control" name="self" id="self" value="1" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="remember-me-col d-flex justify-content-between">
                                <span class="mt-1">Spouse</span>
                                <label class="custom_check mb-3">
                                    <input type="checkbox" class="form-control" name="spouse" id="spouse" value="1">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="remember-me-col d-flex justify-content-between">
                                <span class="mt-1">Child</span>
                                <div class="increment-decrement mt-3">
                                    <div class="input-groups">
                                        <input type="button" value="-" id="subs" class="button-minus dec button">
                                        <input type="text" name="child" id="child" value="0" class="quantity-field">
                                        <input type="button" value="+" id="adds" class="button-plus inc button">
                                    </div>
                                </div>
                            </div>
                            <div class="remember-me-col d-flex justify-content-between">
                                <span class="mt-1">Mother</span>
                                <label class="custom_check mb-3">
                                    <input type="checkbox" class="form-control" name="mother" id="mother" value="1">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="remember-me-col d-flex justify-content-between">
                                <span class="mt-1">Father</span>
                                <label class="custom_check mb-3">
                                    <input type="checkbox" class="form-control" name="father" id="father" value="1">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn-primary w-100 btn-lg login-btn step3_submit">Continue</button>
                        </div>
                    </form>
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>


            <div class="login-bottom-copyright">
                <span>© 2024 Doccure. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>
<!-- /Register Step 3 Content -->

<script>
    const addButton = document.getElementById('adds');
    const subtractButton = document.getElementById('subs');
    const childInput = document.getElementById('child');

    addButton.addEventListener('click', () => {
        let currentValue = parseInt(childInput.value) || 0;
        childInput.value = currentValue + 1;
    });

    subtractButton.addEventListener('click', () => {
        let currentValue = parseInt(childInput.value) || 0;
        if (currentValue > 0) {
            childInput.value = currentValue - 1;
        }
    });
</script>
{% endblock %}
