{% extends 'frontend\auth\patient-register-footer.html' %}
{% load static %}

{% block content %}
<!-- Register Step 5 Content -->
<div class="account-content">
    <div class="d-flex align-items-center">
        <div class="login-right">
            <div class="inner-right-login">
                <div class="login-header">
                    <div class="logo-icon">
                        <img src="{% static 'img/logo.png' %}" alt="doccure-logo">
                    </div>
                    <div class="step-list">
                        <ul>
                            <li><a href="#" class="active-done">1</a></li>
                            <li><a href="#" class="active-done">2</a></li>
                            <li><a href="#" class="active-done">3</a></li>
                            <li><a href="#" class="active-done">4</a></li>
                            <li><a href="#" class="active">5</a></li>
                        </ul>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <h3 class="my-4">Your Location</h3>
                        <div class="mb-3">
                            <label class="mb-2">Select City</label>
                            <select class="form-select form-control" id="city" name="city" required>
                                <option value="">Select Your City</option>
                                <option value="City 1">City 1</option>
                                <option value="City 2">City 2</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="mb-2">Select State</label>
                            <select class="form-select form-control" id="state" name="state" required>
                                <option value="">Select Your State</option>
                                <option value="State 1">State 1</option>
                                <option value="State 2">State 2</option>
                            </select>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn-primary w-100 btn-lg login-btn step5_submit">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-bottom-copyright">
                <span>© 2024 Doccure. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>
<!-- /Register Step 5 Content -->
{% endblock %}
