{% extends 'frontend/auth/patient-register-footer.html' %}
{% load static %}

{% block content %}
<div class="account-content">
    <div class="d-flex align-items-center">
        <div class="login-right">
            <div class="inner-right-login">
                <div class="login-header">
                    <div class="logo-icon">
                        <img src="{% static 'img/logo.png' %}" alt="doccure-logo">
                    </div>
                    <div class="step-list">
                        <ul>
                            <li><a href="#" class="active-done">1</a></li>
                            <li><a href="#" class="active">2</a></li>
                        </ul>
                    </div>

                    <form id="personal_details" method="post" action="{% url 'users:register_step2' %}">
                        {% csrf_token %}

                        <h4 class="mt-3">اختار الجنس</h4>
                        <div class="select-gender-col">
                            <div class="row">
                                <div class="col-6 pe-2">
                                    <input type="radio" id="male" name="gender" value="Male" {% if request.session.step2_data.gender == 'Male' %}checked{% endif %}>
                                    <label for="male">
                                        <span class="gender-icon">
                                            <img src="{% static 'img/icons/male.png' %}" alt="male-icon">
                                        </span>
                                        <span>ذكر</span>
                                    </label>
                                </div>
                                <div class="col-6 ps-2">
                                    <input type="radio" id="female" name="gender" value="Female" {% if request.session.step2_data.gender == 'Female' %}checked{% endif %}>
                                    <label for="female">
                                        <span class="gender-icon">
                                            <img src="{% static 'img/icons/female.png' %}" alt="female-icon">
                                        </span>
                                        <span>انثى</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="step-process-col mt-4">
                            <!-- تاريخ الميلاد -->
                            <div class="mb-3">
                                <label class="mb-2">تاريخ الميلاد</label>
                                <input type="date" class="form-control" name="birth_date" id="birth_date" value="{{ request.session.step2_data.birth_date }}">
                            </div>
                            <!-- الوزن والطول -->
                            <div class="mb-3">
                                <label class="mb-2">وزنك</label>
                                <input type="text" class="form-control" name="weight" id="weight" value="{{ request.session.step2_data.weight }}">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">طولك</label>
                                <input type="text" class="form-control" name="height" id="height" value="{{ request.session.step2_data.height }}">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">عمرك</label>
                                <input type="text" name="age" class="form-control" id="age" value="{{ request.session.step2_data.age }}">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2">فصيلة الدم</label>
                                <select class="form-select form-control" id="blood_group" name="blood_group">
                                    <option value="">Select your blood group</option>
                                    <option value="A-" {% if request.session.step2_data.blood_group == 'A-' %}selected{% endif %}>A-</option>
                                    <option value="A+" {% if request.session.step2_data.blood_group == 'A+' %}selected{% endif %}>A+</option>
                                    <option value="B-" {% if request.session.step2_data.blood_group == 'B-' %}selected{% endif %}>B-</option>
                                    <option value="B+" {% if request.session.step2_data.blood_group == 'B+' %}selected{% endif %}>B+</option>
                                    <option value="AB-" {% if request.session.step2_data.blood_group == 'AB-' %}selected{% endif %}>AB-</option>
                                    <option value="AB+" {% if request.session.step2_data.blood_group == 'AB+' %}selected{% endif %}>AB+</option>
                                    <option value="O-" {% if request.session.step2_data.blood_group == 'O-' %}selected{% endif %}>O-</option>
                                    <option value="O+" {% if request.session.step2_data.blood_group == 'O+' %}selected{% endif %}>O+</option>
                                </select>
                            </div>

                            <!-- الملاحظات -->
                            <div class="mb-3">
                                <label class="mb-2">الملاحظات</label>
                                <input type="text" name="notes" class="form-control" id="notes" value="{{ request.session.step2_data.notes }}">
                            </div>

                        </div>

                        <div class="mt-5">
                            <button type="submit" class="btn btn-primary w-100 btn-lg login-btn step1_submit">حفظ</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-bottom-copyright">
                <span>© 2024 Doccure. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
