{% extends 'frontend/auth/patient-register-footer.html' %}
{% load static %}

{% block content %}
<!-- Register Content -->
<div class="account-content">
    <div class="d-flex align-items-center">
        <div class="login-right">
            <div class="inner-right-login">
                <div class="login-header">
                    <div class="logo-icon">
                        <img src="{% static 'img/logo.png' %}" alt="doccure-logo">
                    </div>

                    {% if messages %}
                    <div class="alert-container mt-3">
                        {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- Register Form -->
                    <form id="profile_pic_form" method="post" enctype="multipart/form-data" action="{% url 'users:register_step1' %}">
                        {% csrf_token %}
                        <h4 class="mt-3">معلومات الملف الشخصي</h4>
                        <p class="text-muted mb-3">الخطوة الأولى من إنشاء حسابك. يرجى إدخال صورة الملف الشخصي ومعلومات العنوان.</p>

                        <div class="profile-pic-col">
                            <h5>صورة الملف الشخصي</h5>
                            <div class="profile-pic-upload">
                                <div class="cam-col">
                                    <img src="{% static 'img/icons/camera.svg' %}" id="prof-avatar" alt="camera-image" class="img-fluid">
                                </div>
                                <span>رفع صورة الملف الشخصي</span>
                                <input type="file" id="profile_image" name="profile_image">
                            </div>
                        </div>

                        <br>

                        <h4 class="mt-3">معلومات العنوان</h4>

                        <div class="mb-3 form-focus">
                            <input type="text" name="address" class="form-control floating" value="{{ request.session.address }}" required>
                            <label class="focus-label">العنوان</label>
                        </div>

                        <div class="mb-3 form-focus">
                            <input type="text" name="city" class="form-control floating" value="{{ request.session.city }}" required>
                            <label class="focus-label">المدينة</label>
                        </div>

                        <div class="mb-3 form-focus">
                            <input type="text" name="state" class="form-control floating" value="{{ request.session.state }}" required>
                            <label class="focus-label">المديرية</label>
                        </div>

                        <div class="mt-5">
                            <button type="submit" class="btn btn-primary w-100 btn-lg login-btn step1_submit">يكمل</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-bottom-copyright">
                <span>© 2024 Doccure. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>
<!-- /Register Content -->
{% endblock %}
