<div class="col-md-7 col-lg-8 col-xl-9 d-none favourites section">
    <div class="row row-grid">
        {% for doctor in favourite_doctors %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="profile-widget">
                    <div class="doc-img">
                        <a href="{% url 'home:doctor_profile' doctor_id=doctor.id %}">
							<img class="img-fluid" alt="صورة الطبيب" src="{% if doctor.photo %}{{ doctor.photo.url }}{% else %}path/to/default-image.jpg{% endif %}">
                        </a>
                        <a href="javascript:void(0)" class="fav-btn" data-doctor-id="{{ doctor.id }}">
                            <i class="far fa-bookmark"></i>
                        </a>
                    </div>
                    <div class="pro-content">
                        <h3 class="title">
                            <a href="{% url 'home:doctor_profile' doctor_id=doctor.id %}">{{ doctor.full_name }}</a> 
                            <i class="fas fa-check-circle verified"></i>
                        </h3>
                        <p class="speciality">{{ doctor.specialty }}</p>
					
						<div class="review-count rating">
							<i class="fas fa-star {% if doctor.average_rating >= 1 %}filled{% endif %}"></i>
							<i class="fas fa-star {% if doctor.average_rating >= 2 %}filled{% endif %}"></i>
							<i class="fas fa-star {% if doctor.average_rating >= 3 %}filled{% endif %}"></i>
							<i class="fas fa-star {% if doctor.average_rating >= 4 %}filled{% endif %}"></i>
							<i class="fas fa-star {% if doctor.average_rating >= 5 %}filled{% endif %}"></i>
							<span class="d-inline-block average-rating">({{ doctor.reviews.count }})</span>
						</div>
                        <ul class="available-info">
                            <li>
                                <i class="fas fa-map-marker-alt"></i> {{ doctor.sub_title }}
                            </li>
                           
                        </ul>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a href="{% url 'home:doctor_profile' doctor_id=doctor.id %}" class="btn view-btn">عرض الملف الشخصي</a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'home:booking' doctor.id %}" class="btn book-btn">احجز الآن</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>لم يتم العثور على أطباء مفضلين.</p>
        {% endfor %}
    </div>
</div>

<!-- قسم الجافا سكربت -->
<script>
	document.querySelectorAll('.fav-btn').forEach(function(button) {
		button.addEventListener('click', function() {
			var doctorId = this.getAttribute('data-doctor-id');
			
			fetch("{% url 'home:add_to_favorites' %}", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',  
					'X-CSRFToken': '{{ csrf_token }}', 
				},
				body: JSON.stringify({
					'doctor_id': doctorId,
				}),
			})
			.then(response => response.json())  
			.then(data => {
				if (data.status === 'success') {
					var icon = button.querySelector('i');
					
					if (!button.classList.contains('btn-red')) {
						button.classList.add('btn-red');
					} else {
						button.classList.remove('btn-red');
					}
					/*
					alert(data.message);
					*/
				} else {
					/*
					alert(data.message);
					*/
				}
			})
			.catch(error => {
				console.error('خطأ:', error);
			});
		});
	});
</script>
