<div class="col-md-7 col-lg-8 col-xl-9 section d-none profile_settings">
    <div class="card">
        <div class="card-body">
            <!-- Profile Settings Form -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="mb-3">
                            <div class="change-avatar">
                                <div class="profile-img">
                                    {% if patient.user.profile_picture and patient.user.profile_picture.name %}
                                        <img id="profile-image" src="{{ patient.user.profile_picture.url }}" alt="User Image">
                                    {% else %}
                                        <img id="profile-image" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Default User Image">
                                    {% endif %}
                                </div>
                                
                                <div class="upload-img">
                                    <div class="change-photo-btn">
                                        <span><i class="fa fa-upload"></i> تحميل الصوره</span>
                                        <input type="file" class="upload" name="profile_picture" id="profile_picture">
                                    </div>
                                    <small class="form-text text-muted">مسموح بصيغة JPG أو GIF أو PNG, الحجم الأقصى 2 ميجابايت</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- الأسم الاول -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">الأسم الاول</label>
                            <input type="text" class="form-control" name="first_name" value="{{ patient.user.first_name }}">
                        </div>
                    </div>
                    
                    <!-- الأسم الاخير -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">الأسم الاخير</label>
                            <input type="text" class="form-control" name="last_name" value="{{ patient.user.last_name }}">
                        </div>
                    </div>

                    <!-- البريد الالكتروني -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">البريد الالكتروني</label>
                            <input type="email" class="form-control" name="email" value="{{ patient.user.email }}">
                        </div>
                    </div>                             
                    
                    <!-- رقم الهاتف -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">رقم الهاتف</label>
                            <input type="text" class="form-control" name="mobile_number" value="{{ patient.user.mobile_number }}">
                        </div>
                    </div>
                    
                    <!-- العنوان -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">العنوان</label>
                            <input type="text" class="form-control" name="address" value="{{ patient.user.address }}">
                        </div>
                    </div>
                    
                    <!-- المدينة -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">المدينة</label>
                            <input type="text" class="form-control" name="city" value="{{ patient.user.city }}">
                        </div>
                    </div>

                    <!-- المديريه -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">المديرية</label>
                            <input type="text" class="form-control" name="state" value="{{ patient.user.state }}">
                        </div>
                    </div>   

                    <!-- تاريخ الميلاد -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">تاريخ الميلاد</label>
                            <input type="date" class="form-control" name="birth_date" value="{{ patient.birth_date|date:'Y-m-d' }}">
                        </div>
                    </div>

                    <!-- الجنس -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">الجنس</label>
                            <select class="form-select form-control" name="gender">
                                <option value="Male" {% if patient.gender == 'Male' %}selected{% endif %}>ذكر</option>
                                <option value="Female" {% if patient.gender == 'Female' %}selected{% endif %}>انثى</option>
                            </select>
                        </div>
                    </div>
                    


                    <!-- ملاحظات -->
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label class="mb-2">ملاحظات</label>
                            <textarea class="form-control" name="notes">{{ patient.notes }}</textarea>
                        </div>
                    </div>
                </div>

                <!-- زر حفظ التعديلات -->
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary submit-btn" name="update_profile" value="تحديث الملف الشخصي">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // وظيفة لتغيير صورة المعاينة عند تحميل صورة جديدة
    document.getElementById('profile_picture').addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var image = document.getElementById('profile-image');
            image.src = reader.result;
        };
        reader.readAsDataURL(this.files[0]); 
    });
</script>
