{% extends "frontend/layouts/master.html" %}
{% block content %}
 <!--=============================
   HOME BANNER 
==============================-->
{% include "frontend/home/components/homebanner.html" %}
 <!--=============================
   HOME BANNER 
==============================-->
 <!--=============================
   Specialities SECTION 
==============================-->
{% include "frontend/home/components/specialities.html" %}
 <!--=============================
   Specialities SECTION 
==============================-->
 <!--=============================
   Doctors  
==============================-->
{% include "frontend/home/components/doctors.html" %}
 <!--=============================
   Doctors  
==============================-->
 <!--=============================
   WORK  
==============================-->
{% include "frontend/home/components/work.html" %}
 <!--=============================
   WORK  
==============================-->
 <!--=============================
   Articles 
==============================-->
{% include "frontend/home/components/articles.html" %}
 <!--=============================
   Articles 
==============================-->
 <!--=============================
   App 
==============================-->
{% include "frontend/home/components/app.html" %}
 <!--=============================
   App 
==============================-->
 <!--=============================
   FAQ 
==============================-->
{% include "frontend/home/components/faq.html" %}
 <!--=============================
   FAQ 
==============================-->
 <!--=============================
   Testimonial 
==============================-->
{% include "frontend/home/components/testimonial.html" %}
 <!--=============================
   Testimonial 
==============================-->
 <!--=============================
   Partners 
==============================-->
{% include "frontend/home/components/partners.html" %}
 <!--=============================
   Partners 
==============================-->
	<!-- Cursor -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- /Cursor -->	

</div>		
<!-- /Main Wrapper -->

<!-- ScrollToTop -->
<div class="progress-wrap active-progress">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
    </svg>
</div>
<!-- /ScrollToTop -->
{% endblock %} 