<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Doctor Management{% endblock %}</title>
</head>
<body>
  <header>
    <h1>مرحبًا بكم في صفحة إدارة الأطباء</h1>
    <img src="{% static 'img/about-img3.png' %}">
    <nav>
        <ul>
            <li><a href="{% url 'doctor:specialties_list' %}">إدارة التخصصات</a></li>
            <li><a href="{% url 'doctor:doctors_list' %}">إدارة الأطباء</a></li>
            <li><a href="{% url 'doctor:doctorschedules_list' %}">إدارة مواعيد الأطباء</a></li>
        </ul>
    </nav>
</header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2024 Doctor Management</p>
  </footer>
</body>
</html>
