{% load static %}
{% if appSection %}
<section class="app-section">
    <div class="container">
        <div class="app-bg">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="app-content">
                        <div class="app-header aos" data-aos="fade-up">
                            <h5>{{ appSection.title }}</h5>
                            <h2>{{ appSection.sub_title }}</h2>
                        </div>
                        <div class="app-scan aos" data-aos="fade-up">
                            <p>{{ appSection.qr_title }}</p>
                            <img src="{{ appSection.qr_image.url }}" alt="scan-image">
                            </div>
                        <div class="google-imgs aos" data-aos="fade-up">
                            <a href="{{ appSection.google_play_url }}"><img src="{{ appSection.google_play_icon.url }}" alt="img"></a>
                            <a href="{{ appSection.apple_store_url }}"><img src="{{ appSection.apple_store_icon.url }}" alt="img"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 aos" data-aos="fade-up">
                    <div class="mobile-img">
                        <img src="{{ appSection.app_photo.url }}" class="img-fluid" alt="img">
                        </div>
                        </div>
            </div>
        </div>
    </div>
</section>
{% endif %}