<section class="articles-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 aos" data-aos="fade-up">
                <div class="section-header-one text-center">
                    <h2 class="section-title">Latest Articles</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="articles-grid w-100">
                    <div class="articles-info">
                        <div class="articles-left">
                            <a href="blog-details.html">
                                <div class="articles-img">
                                    <img src="assets/img/blog/blog-11.jpg" class="img-fluid" alt="John Doe">
                                </div>
                            </a>
                        </div>
                        <div class="articles-right">
                            <div class="articles-content">
                                <ul class="articles-list nav">
                                    <li>
                                        <i class="feather-user"></i> John Doe
                                    </li>
                                    <li>
                                        <i class="feather-calendar"></i> 13 Aug, 2023
                                    </li>
                                </ul>
                                <h4>
                                    <a href="blog-details.html">Doccure – Making your clinic painless visit?</a>
                                </h4>
                                <p>Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                <a href="blog-details.html" class="btn">View Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="articles-grid w-100">
                    <div class="articles-info">
                        <div class="articles-left">
                            <a href="blog-details.html">
                                <div class="articles-img">
                                    <img src="assets/img/blog/blog-12.jpg" class="img-fluid" alt="Darren Elder">
                                </div>
                            </a>
                        </div>
                        <div class="articles-right">
                            <div class="articles-content">
                                <ul class="articles-list nav">
                                    <li>
                                        <i class="feather-user"></i> Darren Elder
                                    </li>
                                    <li>
                                        <i class="feather-calendar"></i> 10 Sep, 2023
                                    </li>
                                </ul>
                                <h4>
                                    <a href="blog-details.html">What are the benefits of Online Doctor Booking?</a>
                                </h4>
                                <p>Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                <a href="blog-details.html" class="btn">View Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="articles-grid w-100">
                    <div class="articles-info">
                        <div class="articles-left">
                            <a href="blog-details.html">
                                <div class="articles-img">
                                    <img src="assets/img/blog/blog-13.jpg" class="img-fluid" alt="Ruby Perrin">
                                </div>
                            </a>
                        </div>
                        <div class="articles-right">
                            <div class="articles-content">
                                <ul class="articles-list nav">
                                    <li>
                                        <i class="feather-user"></i> Ruby Perrin
                                    </li>
                                    <li>
                                        <i class="feather-calendar"></i> 30 Oct, 2023
                                    </li>
                                </ul>
                                <h4>
                                    <a href="blog-details.html">Benefits of consulting with an Online Doctor</a>
                                </h4>
                                <p>Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                <a href="blog-details.html" class="btn">View Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex aos" data-aos="fade-up">
                <div class="articles-grid w-100">
                    <div class="articles-info">
                        <div class="articles-left">
                            <a href="blog-details.html">
                                <div class="articles-img">
                                    <img src="assets/img/blog/blog-14.jpg" class="img-fluid" alt="Sofia Brient">
                                </div>
                            </a>
                        </div>
                        <div class="articles-right">
                            <div class="articles-content">
                                <ul class="articles-list nav">
                                    <li>
                                        <i class="feather-user"></i> Sofia Brient
                                    </li>
                                    <li>
                                        <i class="feather-calendar"></i> 08 Nov, 2023
                                    </li>
                                </ul>
                                <h4>
                                    <a href="blog-details.html">5 Great reasons to use an Online Doctor</a>
                                </h4>
                                <p>Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                <a href="blog-details.html" class="btn">View Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>