{% load static %}

<!-- Doctors Section -->
<section class="doctors-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="section-header-one section-header-slider">
                    <h2 class="section-title">Best Doctors</h2>
                </div>
            </div>
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="owl-nav slide-nav-2 text-end nav-control"></div>
            </div>
        </div>
        <div class="owl-carousel doctor-slider-one owl-theme aos" data-aos="fade-up">
            {% for doctor in doctors %}
            <!-- Doctor Item -->
            <div class="item">
                <div class="doctor-profile-widget">
                    <div class="doc-pro-img">
                        <a href="{% url 'home:doctor_profile' doctor.id %}">
                            <div class="doctor-profile-img">
                                {% if doctor.photo %}
                                    <img src="{{ doctor.photo.url }}" class="img-fluid" alt="{{ doctor.full_name }}">
                                {% else %}
                                    <img src="{% static 'img/doctors/default-doctor.jpg' %}" class="img-fluid" alt="{{ doctor.full_name }}">
                                {% endif %}
                            </div>
                        </a>
                        {% if doctor.pricing.first %}
                        <div class="doctor-amount">
                            <span>{{ doctor.pricing.first.amount }} ريال</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="doc-content">
                        <div class="doc-pro-info">
                            <div class="doc-pro-name">
                                <a href="{% url 'home:doctor_profile' doctor.id %}">{{ doctor.full_name }}</a>
                                <p>{{ doctor.specialty.name }}</p>
                            </div>
                            <div class="reviews-ratings">
                                <p>
                                    <span><i class="fas fa-star"></i> {{ doctor.average_rating|default:"0.0" }}</span> ({{ doctor.reviews.count }})
                                </p>
                            </div>
                        </div>
                        <div class="doc-pro-location">
                            {% if doctor.hospitals.first %}
                                <p><i class="feather-map-pin"></i> {{ doctor.hospitals.first.city.name }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Doctor Item -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- /Doctors Section -->