{% load static %}

<!-- Doctors Section -->
<section class="doctors-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="section-header-one section-header-slider">
                    <h2 class="section-title">Best Doctors</h2>
                </div>
            </div>
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="owl-nav slide-nav-2 text-end nav-control"></div>
            </div>
        </div>
        <div class="owl-carousel doctor-slider-one owl-theme aos" data-aos="fade-up">

            <!-- Doctor Item -->
            <div class="item">
                <div class="doctor-profile-widget">
                    <div class="doc-pro-img">
                        <a href="">
                            <div class="doctor-profile-img">
                                <img src="{% static 'img/doctors/doctor-03.jpg' %}" class="img-fluid" alt="Ruby Perrin">
                            </div>
                        </a>
                        <div class="doctor-amount">
                            <span>$ 200</span>
                        </div>
                    </div>
                    <div class="doc-content">
                        <div class="doc-pro-info">
                            <div class="doc-pro-name">
                                <a href="">Dr. Ruby Perrin</a>
                                <p>Cardiology</p>
                            </div>
                            <div class="reviews-ratings">
                                <p>
                                    <span><i class="fas fa-star"></i> 4.5</span> (35)
                                </p>
                            </div>
                        </div>
                        <div class="doc-pro-location">
                            <p><i class="feather-map-pin"></i> Newyork, USA</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Doctor Item -->



        </div>
    </div>
</section>
<!-- /Doctors Section -->