{% load static %}
{% if faqSection %}
<section class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-one text-center aos" data-aos="fade-up">
                    <h5>{{ faqSection.title }}</h5>
                    <h2 class="section-title">{{ faqSection.sub_title }}</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <!-- صورة + عدد المرضى -->
            <div class="col-lg-6 col-md-12 aos" data-aos="fade-up">
                <div class="faq-img">
                    <img src="{{ faqSection.main_image.url }}" class="img-fluid" alt="صورة">
                    <div class="faq-patients-count">
                        <div class="faq-smile-img">
                            <img src="{% static 'img/icons/smiling-icon.svg' %}" alt="أيقونة الابتسامة">
                        </div>
                        <div class="faq-patients-content">
                            <h4><span class="count-digit">95</span>ألف+</h4>
                            <p>مريض سعيد</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- الأسئلة -->
            {% if faqSection.questions.all %}
            <div class="col-lg-6 col-md-12">
                <div class="faq-info aos" data-aos="fade-up">
                    <div class="accordion" id="faq-details">
                        {% for question in faqSection.questions.all|slice:":5" %}
                            {% if question.show_at_home %}
                            <!-- عنصر سؤال -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ question.order }}">
                                    <a href="javascript:void(0);" class="accordion-button collapsed"
                                       data-bs-toggle="collapse"
                                       data-bs-target="#collapse{{ question.order }}"
                                       aria-expanded="false"
                                       aria-controls="collapse{{ question.order }}">
                                        {{ question.question }}
                                    </a>
                                </h2>
                                <div id="collapse{{ question.order }}" class="accordion-collapse collapse"
                                     aria-labelledby="heading{{ question.order }}" data-bs-parent="#faq-details">
                                    <div class="accordion-body">
                                        <div class="accordion-content">
                                            <p>{{ question.answer }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /عنصر سؤال -->
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}
