{% load static %}
<!-- users:index Banner -->
<section class="banner-section" id="bannerSection">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content aos" data-aos="fade-up">
                    {% comment %} <h1>Consult <span>Best Doctors</span> Your Nearby Location.</h1> {% endcomment %}
                    <h1>{{ homeBanner.title }}</h1>
                    <img src="{% static 'img/icons/header-icon.svg' %}" class="header-icon" alt="header-icon">
                    <p>{{ homeBanner.subtitle }}</p>
                    {% comment %} <a href="" class="btn">Start a Consult</a> {% endcomment %}
                    <div class="banner-arrow-img">
                        <img src="{% static 'img/down-arrow-img.png' %}" class="img-fluid" alt="down-arrow">
                    </div>
                </div>
                <div class="search-box-one aos" data-aos="fade-up">
                    <form action="{% url 'home:search_view' %}" method="GET">
                          <div class="search-input search-line">
                            <i class="feather-search bficon"></i>
                            <div class="mb-0">
                                <input type="text" name="doctor_name" class="form-control" placeholder="Search doctors, hospitals, etc">
                            </div>
                        </div>
                        <div class="search-input search-map-line">
                            <i class="feather-map-pin"></i>
                            <div class="mb-0">
                                <select class="form-control" name="city">
                                    <option value="" disabled selected>Select Location</option>
                                    {% if cities %}
                                        {% for city in cities %}
                                            <option value="{{ city.slug }}">{{ city.name }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="" disabled>No cities available</option>
                                    {% endif %}
                                </select>
                                <a class="current-loc-icon current_location" href="javascript:void(0);">
                                    <i class="feather-crosshair"></i>
                                </a>
                            </div>
                        </div>
                        <div class="search-input search-calendar-line">
                            <i class="feather-calendar"></i>
                            <div class="mb-0">
                                <input type="text" name="date" class="form-control datetimepicker" placeholder="Date">
                            </div>
                        </div>
                        <div class="form-search-btn">
                            <button class="btn" type="submit">Search</button>
                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="col-lg-6">
              {% if homeBanner.main_image  %}
                <div class="banner-img aos" data-aos="fade-up">
                    <img src="{{ homeBanner.main_image.url }}" class="img-fluid" alt="patient-image">
                    {% if homeBanner.sub_image1  %}
                    <div class="banner-img1">
                        <img src="{{ homeBanner.sub_image1.url }}" class="img-fluid" alt="checkup-image">
                    </div>
                    {% endif %}
                    {% if homeBanner.main_image2 %}
                    <div class="banner-img2">
                        <img src="{{ homeBanner.sub_image2.url }}" class="img-fluid" alt="doctor-slide">
                    </div>
                    {% endif %}
                    {% if homeBanner.sub_image3 %}
                    <div class="banner-img3">
                        <img src="{{ homeBanner.sub_image3.url }}" class="img-fluid" alt="doctors-list">
                    </div>
                    {% endif %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>
<!-- /users:index Banner -->