{% load static %}
<!-- Specialities Section -->
<section class="specialities-section-one">
    <div class="container">
        <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="section-header-one section-header-slider">
                    <h2 class="section-title">Specialities</h2>
                </div>
            </div>
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="owl-nav slide-nav-1 text-end nav-control"></div>
            </div>
        </div>
        <div class="owl-carousel specialities-slider-one owl-theme aos" data-aos="fade-up">
            <div class="item">
                <div class="specialities-item">
                    <div class="specialities-img">
                        <span><img src="{% static 'img/specialities/specialities-01.svg' %}" alt="heart-image"></span>
                    </div>
                    <p>Cardiology</p>
                </div>
            </div>
            <div class="item">
                <div class="specialities-item">
                    <div class="specialities-img">
                        <span><img src="{% static 'img/specialities/specialities-02.svg' %}" alt="brain-image"></span>
                    </div>
                    <p>Neurology</p>
                </div>
            </div>
            <div class="item">
                <div class="specialities-item">
                    <div class="specialities-img">
                        <span><img src="{% static 'img/specialities/specialities-03.svg' %}" alt="kidney-image"></span>
                    </div>
                    <p>Urology</p>
                </div>
            </div>
            <div class="item">
                <div class="specialities-item">
                    <div class="specialities-img">
                        <span><img src="{% static 'img/specialities/specialities-04.svg' %}" alt="bone-image"></span>
                    </div>
                    <p>Orthopedic</p>
                </div>
            </div>
            <div class="item">
                <div class="specialities-item">
                    <div class="specialities-img">
                        <span><img src="{% static 'img/specialities/specialities-05.svg' %}" alt="dentist"></span>
                    </div>
                    <p>Dentist</p>
                </div>
            </div>
            <div class="item">
                <div class="specialities-item">
                    <div class="specialities-img">
                        <span><img src="{% static 'img/specialities/specialities-06.svg' %}" alt="eye-image"></span>
                    </div>
                    <p>Ophthalmology</p>
                </div>
            </div>
            <div class="item">
                <div class="specialities-item">
                    <div class="specialities-img">
                        <span><img src="{% static 'img/specialities/specialities-02.svg' %}" alt="brain-image"></span>
                    </div>
                    <p>Neurology</p>
                </div>
            </div>
        </div>
        <div class="specialities-btn aos" data-aos="fade-up">
            <a href="" class="btn">
                See All Specialities
            </a>
        </div>
    </div>
</section>
<!-- /Specialities Section -->
