{% load static %}
{% if specialities %}

<!-- Specialities Section -->
<section class="specialities-section-one">
    <div class="container">
        <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="section-header-one section-header-slider">
                    <h2 class="section-title">التخصصات</h2>
                </div>
            </div>
            <div class="col-md-6 aos" data-aos="fade-up">
                <div class="owl-nav slide-nav-1 text-end nav-control"></div>
            </div>
        </div>
        <div class="owl-carousel specialities-slider-one owl-theme aos" data-aos="fade-up">
            {% for specialy in specialities %}
            <div class="item">
                <a href="{% url 'home:search_view' %}?specialty={{ specialy.id }}" class="specialities-item">
                    {% if specialy.image %}
                    <div class="specialities-img">
                        <span><img src="{{ specialy.image.url }}" alt="heart-image"></span>
                    </div>
                    {% endif %}
                    <p>{{ specialy.name }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="specialities-btn aos" data-aos="fade-up">
            <a href="{% url 'home:search_view' %}" class="btn">
                 عرض جميع التخصصات 
            </a>
        </div>
    </div>
</section>
{% endif %}
<!-- /Specialities Section -->
{% block extra_js %}
<script>
    $('.owl-carousel').owlCarousel({
        loop: false,  
        items: 3,    
        autoplay: true
    });
    
    $('.specialities-slider-one').owlCarousel({
        loop: false,
        items: 3
    });
</script>
{% endblock  %}