<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-slider slick">
                    <div class="testimonial-grid">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/img/clients/client-01.jpg" class="img-fluid" alt="John Doe">
                            </div>
                            <div class="testimonial-content">
                                <div class="section-header section-inner-header testimonial-header">
                                    <h5>Testimonials</h5>
                                    <h2>What Our Client Says</h2>
                                </div>
                                <div class="testimonial-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h6><span>John Doe</span> New York</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-grid">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/img/clients/client-02.jpg" class="img-fluid" alt="Amanda Warren">
                            </div>
                            <div class="testimonial-content">
                                <div class="section-header section-inner-header testimonial-header">
                                    <h5>Testimonials</h5>
                                    <h2>What Our Client Says</h2>
                                </div>
                                <div class="testimonial-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h6><span>Amanda Warren</span> Florida</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-grid">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/img/clients/client-03.jpg" class="img-fluid" alt="Betty Carlson">
                            </div>
                            <div class="testimonial-content">
                                <div class="section-header section-inner-header testimonial-header">
                                    <h5>Testimonials</h5>
                                    <h2>What Our Client Says</h2>
                                </div>
                                <div class="testimonial-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h6><span>Betty Carlson</span> Georgia</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-grid">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/img/clients/client-04.jpg" class="img-fluid" alt="Veronica">
                            </div>
                            <div class="testimonial-content">
                                <div class="section-header section-inner-header testimonial-header">
                                    <h5>Testimonials</h5>
                                    <h2>What Our Client Says</h2>
                                </div>
                                <div class="testimonial-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h6><span>Veronica</span> California</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-grid">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="assets/img/clients/client-05.jpg" class="img-fluid" alt="Richard">
                            </div>
                            <div class="testimonial-content">
                                <div class="section-header section-inner-header testimonial-header">
                                    <h5>Testimonials</h5>
                                    <h2>What Our Client Says</h2>
                                </div>
                                <div class="testimonial-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h6><span>Richard</span> Michigan</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>