{% load static %}
{% if testimonialSection.status %}
<section class="testimonial-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-slider slick">
         
          
          {% for testimonial in testimonialSection.testimonials.all %}
          {% if testimonial.show_at_home %}
          
          <div class="testimonial-grid">
            <div class="testimonial-info">
              <div class="testimonial-img">
                <img
                  src="{{ testimonial.main_image.url }}"
                  class="img-fluid"
                  alt="{{ testimonial.name }}"
                />
              </div>
              <div class="testimonial-content">
                <div
                  class="section-header section-inner-header testimonial-header"
                >
                <h5>{{ testimonialSection.title }}</h5>
                <h2>{{ testimonialSection.sub_title }}</h2>
                </div>
                <div class="testimonial-details">
                  <p>
                    {{ testimonial.review }}
                     </p>
                   <h6><span>{{ testimonial.name }}</span> {{ testimonial.country }}</h6>
                </div>
              </div>
            </div>
          </div>

          {% endif %}
          {% endfor %}


        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}