<!-- قسم الطريق -->
<section class="way-section">
  <div class="container">
    <div class="way-bg">
      <div class="way-shapes-img">
        <div class="way-shapes-left">
          <img src="img/shape-06.png" alt="صورة الشكل" />
        </div>
        <div class="way-shapes-right">
          <img src="img/shape-07.png" alt="صورة الشكل" />
        </div>
      </div>
      <div class="row align-items-end">
        <div class="col-lg-7 col-md-12">
          <div class="section-inner-header way-inner-header mb-0">
            <h2>كن في طريقك للشعور بالتحسن مع Doccure</h2>
            <p>
              لوريم إيبسوم دولور سيت أميت، كونسكتتور أديبسيكينغ إيليت، سيد دو
              إييوسمود تيمبور إينسيديدونت أوت لابوريه إت دولوريه ماغنا أليكوا.
            </p>
            <a href="contact-us.html" class="btn btn-primary">تواصل معنا</a>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="way-img">
            <img
              src="img/way-img.png"
              class="img-fluid"
              alt="صورة طريق الطبيب"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /اختيارنا للطريق -->
