<!-- Way Section -->
<section class="way-section">
  <div class="container">
    <div class="way-bg">
      <div class="way-shapes-img">
        <div class="way-shapes-left">
          <img src="img/shape-06.png" alt="shape-image" />
        </div>
        <div class="way-shapes-right">
          <img src="img/shape-07.png" alt="shape-image" />
        </div>
      </div>
      <div class="row align-items-end">
        <div class="col-lg-7 col-md-12">
          <div class="section-inner-header way-inner-header mb-0">
            <h2>Be on Your Way to Feeling Better with the Doccure</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="contact-us.html" class="btn btn-primary"
              >Contact With Us</a
            >
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="way-img">
            <img
              src="img/way-img.png"
              class="img-fluid"
              alt="doctor-way-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Way Choose Us -->
