<!-- لماذا تختارنا -->
<section class="why-choose-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-inner-header text-center">
          <h2>لماذا تختارنا</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span>
                <img src="img/icons/choose-01.svg" alt="صورة الاختيار"/>
              </span>
            </div>
            <div class="why-choose-content">
              <h4>طاقم طبي مؤهل</h4>
              <p>
                لوريم إيبسوم سيت أميت كونسكتتور إينسيديدونت أوت لابوريه
                إت إكسرسيتاتيون أولامكو لابوريس نيسي دولوريه ماغنا إينيم
                فينيام أليكوا.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span>
                <img src="img/icons/choose-02.svg" alt="صورة الاختيار"/>
              </span>
            </div>
            <div class="why-choose-content">
              <h4>طاقم طبي مؤهل</h4>
              <p>
                لوريم إيبسوم سيت أميت كونسكتتور إينسيديدونت أوت لابوريه
                إت إكسرسيتاتيون أولامكو لابوريس نيسي دولوريه ماغنا إينيم
                فينيام أليكوا.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span>
                <img src="img/icons/choose-03.svg" alt="صورة الاختيار"/>
              </span>
            </div>
            <div class="why-choose-content">
              <h4>طاقم طبي مؤهل</h4>
              <p>
                لوريم إيبسوم سيت أميت كونسكتتور إينسيديدونت أوت لابوريه
                إت إكسرسيتاتيون أولامكو لابوريس نيسي دولوريه ماغنا إينيم
                فينيام أليكوا.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span>
                <img src="img/icons/choose-04.svg" alt="صورة الاختيار"/>
              </span>
            </div>
            <div class="why-choose-content">
              <h4>طاقم طبي مؤهل</h4>
              <p>
                لوريم إيبسوم سيت أميت كونسكتتور إينسيديدونت أوت لابوريه
                إت إكسرسيتاتيون أولامكو لابوريس نيسي دولوريه ماغنا إينيم
                فينيام أليكوا.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /لماذا تختارنا -->
