{% load static %}
{% if workSection %}
<section class="work-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 work-img-info aos" data-aos="fade-up">
        <div class="work-img">
          <img src="{{ workSection.main_image.url }}" class="img-fluid" alt="doctor-image" />
        </div>
      </div>
      <div class="col-lg-8 col-md-12 work-details">
        <div class="section-header-one aos" data-aos="fade-up">
          <h5>{{ workSection.title }}</h5>
          <h2 class="section-title">{{ workSection.sub_title }}</h2>
        </div>
        <div class="row">
          {% for step in workSection.steps.all %}
          {% if step.show_at_home %}
          <div class="col-lg-6 col-md-6 aos" data-aos="fade-up">
            <div class="work-info">
{% if step.icon %}

<div class="work-icon">
  <span
  ><img src="{{ step.icon.url }}" alt="calendar-icon"
  /></span>
  </div>
{% endif %}

              <div class="work-content">
                <h5>{{ step.title }}</h5>
                <p>
                  {{ step.description|safe }}
                </p>
              </div>
            </div>
          </div>
          {% endif %}
{% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endif %}
