<section class="work-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 work-img-info aos" data-aos="fade-up">
                <div class="work-img">
                    <img src="static/img/work-img.png" class="img-fluid" alt="doctor-image">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 work-details">
                <div class="section-header-one aos" data-aos="fade-up">
                    <h5>How it Works</h5>
                    <h2 class="section-title">4 easy steps to get your solution</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 aos" data-aos="fade-up">
                        <div class="work-info">
                            <div class="work-icon">
                                <span>
                                    <img src="static/img/icons/work-01.svg" alt="search-doctor-icon"></span>
                            </div>
                            <div class="work-content">
                                <h5>Search Doctor</h5>
                                <p>Lorem ipsum dolor consectetur adipiscing elit, tempor incididunt labore dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 aos" data-aos="fade-up">
                        <div class="work-info">
                            <div class="work-icon">
                                <span><img src="static/img/icons/work-02.svg" alt="doctor-profile-icon"></span>
                            </div>
                            <div class="work-content">
                                <h5>Check Doctor Profile</h5>
                                <p>Lorem ipsum dolor consectetur adipiscing elit, tempor incididunt labore dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 aos" data-aos="fade-up">
                        <div class="work-info">
                            <div class="work-icon">
                                <span><img src="static/img/icons/work-03.svg" alt="calendar-icon"></span>
                            </div>
                            <div class="work-content">
                                <h5>Schedule Appointment</h5>
                                <p>Lorem ipsum dolor consectetur adipiscing elit, tempor incididunt labore dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 aos" data-aos="fade-up">
                        <div class="work-info">
                            <div class="work-icon">
                                <span><img src="static/img/icons/work-04.svg" alt="solution-icon"></span>
                            </div>
                            <div class="work-content">
                                <h5>Get Your Solution</h5>
                                <p>Lorem ipsum dolor consectetur adipiscing elit, tempor incididunt labore dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>