{% load static %}

<!-- Footer -->
<footer class="footer footer-one">
<div class="footer-top aos" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="footer-widget footer-about">
                    <div class="footer-logo">
                        <a href="/"><img src="{{ setting.footer_logo.url }}" alt="logo"></a>
                    </div>
                    <div class="footer-about-content">
                        <p>{{ setting.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">For YOU</h2>
                            <ul>
                                <li><a href="/#bannerSection">Search for Doctors</a></li>
                                <li><a href="{% url 'users:login' %}">Login</a></li>
                                <li><a href="{% url 'users:signup' %}">Register</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-4">
                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">Contact Us</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <p><i class="feather-map-pin"></i> 3556 Beech Street, USA</p>
                                </div>
                                <div class="footer-address">
                                    <p><i class="feather-phone-call"></i> +1 315 369 5943</p>
                                </div>
                                <div class="footer-address mb-0">
                                    <p><i class="feather-mail"></i> doccure@example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-7">
                <div class="footer-widget">
                    <h2 class="footer-title">Join Our Newsletter</h2>
                    <div class="subscribe-form">
                        <form action="#">
                            <input type="email" class="form-control" placeholder="Enter Email">
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                    {% if socialMediaLinks %}
                    <div class="social-icon">
                        <ul>
                            {% for socialMediaLinks in socialMediaLinks %}
                            <li>
                                <a href="{{ socialMediaLinks.link }}"><i class="fab fa-{{socialMediaLinks.icon}}"></i></a>
                            </li>
                            {% endfor %}
                          
                        </ul>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <!-- Copyright -->
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="copyright-text">
                        <p class="mb-0"> Copyright © {% now "Y" %}  <a href="/">{{ setting.site_name }}</a> All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <!-- Copyright Menu -->
                    <div class="copyright-menu">
                        <ul class="policy-menu">
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/terms-condition">Terms and Conditions</a></li>
                        </ul>
                    </div>
                    <!-- /Copyright Menu -->
                </div>
            </div>
        </div>
        <!-- /Copyright -->                    
    </div>
</div>
</footer>
<!-- /Footer -->