{% load static %}
{% load menu_generator %}
{% get_menu "NAV_MENU_TOP" as top_menu %}
<style>
    /* الألوان حسب نوع الإشعار */
    .notification-message.info {
        background-color: #b0d3f5;
        color: #000000;
        border-left: 5px solid #3178c6;
    }

    .notification-message.warning {
        background-color: #eeca99;
        color: #000000;
        border-left: 5px solid #d6822c; 
    }

    .notification-message.success {
        background-color: #adf5ad;
        color: #000000;
        border-left: 5px solid #28a745;
    }

    .notification-message.error {
        background-color: #efa9a1;
        color: #000000;
        border-left: 5px solid #dc3545;
    }

    /* تحسين عرض الإشعارات */
    .notification-container .noti-content {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .notification-container .notification-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .notification-container .notification-message {
        border-bottom: 1px solid #f0f0f0;
        padding: 10px 15px;
    }

    .notification-time {
        font-size: 12px;
        color: #888;
    }

    .notification-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .noti-details {
        color: #555;
        font-size: 14px;
    }

    .notify-block {
        display: flex;
        align-items: center;
    }

    .avatar {
        margin-right: 10px;
    }

    .avatar-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    /* تهيئة البادج للإشعارات */
    .badge.bg-danger {
        font-size: 12px;
        padding: 4px 7px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>
<!-- Header -->
<header class="header header-custom header-fixed header-one">
    <div class="container">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a href="/" class="navbar-brand logo">
                    <img src="{{setting.logo.url}}" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="/" class="menu-logo">
                        <img src="{{setting.logo.url}}" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    {% for item in top_menu %}
                    <li class="has-submenu">
                        <a href="{{ item.url }}">{{item.name}} 
                        {% if item.submenu %}
                        <i class="fas fa-chevron-down"></i>
                        {% endif %}    
                        </a>
                        {% if item.submenu %}
                        <ul class="submenu">
                            {% for menu in item.submenu %}
                            <li><a href="{{ menu.url }}">{{menu.name}}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li class="searchbar">
                        <a href="javascript:void(0);"><i class="feather-search"></i></a>
                        <div class="togglesearch">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <button type="submit" class="btn">Search</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}
                    <!-- Notifications -->
                    <div class="notification-container">
                        <li class="nav-item dropdown noti-nav me-3 pe-0">
                            <a href="#" class="dropdown-toggle nav-link p-0" data-bs-toggle="dropdown" aria-expanded="false" id="notification-button">
                                <i class="fa-solid fa-bell"></i>
                                {% if unread_notifications_count > 0 %}
                                <span class="badge bg-danger" id="notification-count">{{ unread_notifications_count }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu notifications dropdown-menu-end" id="notification-dropdown">
                                <div class="topnav-dropdown-header">
                                    <span class="notification-title">الإشعارات</span>
                                </div>
                                <div class="noti-content">
                                    <ul class="notification-list" id="notification-list">
                                        {% for notification in notifications %}
                                            {% if notification.status == '0' %}
                                            <li class="notification-message 
                                                {% if notification.notification_type == '0' %}info{% endif %}
                                                {% if notification.notification_type == '1' %}warning{% endif %}
                                                {% if notification.notification_type == '2' %}success{% endif %}
                                                {% if notification.notification_type == '3' %}error{% endif %}">
                                                <a href="#">
                                                    <div class="notify-block d-flex">
                                                        {% if notification.image %}
                                                        <span class="avatar">
                                                            <img class="avatar-img" alt="Notification Image" src="{{ notification.image.url }}">
                                                        </span>
                                                        {% endif %}
                                                        <div class="media-body">
                                                            <p class="noti-details">
                                                                {{ notification.message }}
                                                            </p>
                                                            <h6>{{ notification.sender.name }} 
                                                                <span class="notification-time">
                                                                    {{ notification.send_time|date:"H:i A" }}
                                                                    <br>
                                                                <small>من: {{ notification.sender.username }}</small>
                                                                </span>
                                                            </h6>
                                                            
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </div>
                    <!-- /Notifications -->
                    <!-- User Menu -->
                                            
                    <li class="nav-item dropdown has-arrow logged-item">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                            {% if request.user.profile_picture %} 

                            <span class="user-img">
                                <img class="rounded-circle" src="{{ request.user.profile_picture.url }}" width="31" alt="{{ request.user.first_name }}">
                            </span>
                            {% endif %}

                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="user-header">
                                {% if request.user.profile_picture %} 
                                <div class="avatar avatar-sm">
                                    <img src="{{ request.user.profile_picture.url }}" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                                {% endif %}
                                <div class="user-text">
                                    <h6>{{ request.user.first_name }}</h6>
                                    <p class="text-muted mb-0">{{request.user.user_type}}</p>
                                </div>
                            </div>
                            {% if request.user.user_type == 'patient' %}
                                <a class="dropdown-item" href="{% url 'patients:patient_dashboard' %}">لوحة التحكم</a>
                            {% elif request.user.user_type == 'hospital_manager' %}
                                <a class="dropdown-item" href="{% url 'hospitals:index' %}">لوحة التحكم</a>
                            {% else %}
                                <a class="dropdown-item" href="admin-dashboard.html">Dashboard</a>
                            {% endif %}
                            <a class="dropdown-item" href="profile-settings.html">Profile Settings</a>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                        </div>
                    </li>
                    <!-- /User Menu -->
                    {% endif %}

                    {% if not request.user.is_authenticated %}                        
                       
                        <li class="login-link"><a href="{% url 'users:login' %}">Login / Signup</a></li>
                        <li class="register-btn">
                            <a href="{% url 'users:signup' %}" class="btn reg-btn"><i class="feather-user"></i>Register</a>
                        </li>
                        <li class="register-btn">
                            <a href="{% url 'users:login' %}" class="btn btn-primary log-btn"><i class="feather-lock"></i>Login</a>
                        </li>
                    
                        {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const notificationList = document.getElementById("notification-list");
        const notificationContainer = document.querySelector(".noti-content");
        
        const maxHeight = 300; 
        notificationContainer.style.maxHeight = `${maxHeight}px`;
        notificationContainer.style.overflowY = 'auto'; 
    });
</script>
