{% block content %}
<div class="col-md-7 col-lg-8 col-xl-9 appointments section d-none">
    <div class="appointments">
        <!-- Appointment List -->
        {% for patient in patients %}
        <div class="appointment-list">
            <div class="profile-info-widget">
                <a href="patient-profile.html" class="booking-doc-img">
                    <img src="{{ patient.profile_picture.url }}" alt="{{ patient.full_name }}">
                </a>
                <div class="profile-det-info">
                    <h3><a href="patient-profile.html">{{ patient.full_name }}</a></h3>
                    <div class="patient-details">
                        <h5><i class="far fa-clock"></i> {{ patient.join_date|date:"d M Y, h:i A" }}</h5>
                        <h5><i class="fas fa-map-marker-alt"></i> {{ patient.address }}</h5>
                        <h5><i class="fas fa-envelope"></i> {{ patient.email }}</h5>
                        <h5 class="mb-0"><i class="fas fa-phone"></i> {{ patient.phone_number }}</h5>
                    </div>
                </div>
            </div>
            <div class="appointment-action">
                <a href="#" class="btn btn-sm bg-info-light" data-bs-toggle="modal" data-bs-target="#appt_details">
                    <i class="far fa-eye"></i> View
                </a>
                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                    <i class="fas fa-check"></i> Accept
                </a>
                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                    <i class="fas fa-times"></i> Cancel
                </a>
            </div>
        </div>
        {% endfor %}
        <!-- /Appointment List -->
    </div>
</div>
{% endblock content %}
