{% load static %}

<div class="col-md-7 col-lg-8 col-xl-9 doctor_dashboard section">
    <div class="row">
        <div class="col-md-12">
            <div class="card dash-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar1">
                                    <div class="circle-graph1" data-percent="75">
                                        <img src="{% static 'img/icon-01.png' %}" class="img-fluid" alt="patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>إجمالي المرضى</h6>
                                    <h3>{{ patients.count }}</h3>
                                    <p class="text-muted">حتى اليوم</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget dct-border-rht">
                                <div class="circle-bar circle-bar2">
                                    <div class="circle-graph2" data-percent="65">
                                        <img src="{% static 'img/icon-01.png' %}" class="img-fluid" alt="patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>مرضى اليوم</h6>
                                    <h3>{{ today_bookings.count }}</h3>
                                    <p class="text-muted">{{ today }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-4">
                            <div class="dash-widget">
                                <div class="circle-bar circle-bar3">
                                    <div class="circle-graph3" data-percent="50">
                                        <img src="{% static 'img/icon-03.png' %}" class="img-fluid" alt="Patient">
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6>المواعيد القادمة</h6>
                                    <h3>{{ upcoming_bookings.count }}</h3>
                                    <p class="text-muted">مواعيد قادمة</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">مواعيد المرضى</h4>
            <div class="appointment-tab">
                <!-- Appointment Tab -->
                <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                    <li class="nav-item">
                        <a class="nav-link active" href="#upcoming-appointments" data-bs-toggle="tab">المواعيد القادمة</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#today-appointments" data-bs-toggle="tab">مواعيد اليوم</a>
                    </li> 
                </ul>
                <!-- /Appointment Tab -->

                <div class="tab-content">
                    <!-- Upcoming Appointment Tab -->
                    <div class="tab-pane show active" id="upcoming-appointments">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>اسم المريض</th>
                                                <th>اسم الطبيب</th>
                                                <th>تاريخ الموعد</th>
                                                <th>الغرض</th>
                                                <th>النوع</th>
                                                <th>المبلغ المدفوع</th>
                                                <th>الإجراء</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for booking in upcoming_bookings %}
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="#" class="avatar avatar-sm me-2">
                                                            <img class="avatar-img rounded-circle" src="{{ patient.profile_picture.url }}" alt="User Image">
                                                        </a>
                                                        <a href="#">{{ booking.patient }} <span>#PT{{ booking.patient.id }}</span></a>
                                                    </h2>
                                                </td>
                                                <td>{{ booking.doctor }}</td>
                                                <td>{{ booking.date }} <span class="d-block text-info">{{ booking.time }}</span></td>
                                                <td>{{ booking.get_purpose_display }}</td>
                                                <td>{{ booking.get_type_display }}</td>
                                                <td>${{ booking.amount }}</td>
                                                <td>
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                            <i class="far fa-eye"></i> عرض
                                                        </a>
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                            <i class="fas fa-check"></i> قبول
                                                        </a>
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i> إلغاء
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="7">لا توجد مواعيد قادمة.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>        
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Upcoming Appointment Tab -->
                   
                    <!-- Today Appointment Tab -->
                    <div class="tab-pane" id="today-appointments">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>اسم المريض</th>
                                                <th>اسم الطبيب</th>
                                                <th>تاريخ الموعد</th>
                                                <th>الغرض</th>
                                                <th>النوع</th>
                                                <th>المبلغ المدفوع</th>
                                                <th>الإجراء</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for booking in today_bookings %}
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="#" class="avatar avatar-sm me-2">
                                                            <img class="avatar-img rounded-circle" src="{{ patient.profile_picture.url }}" alt="User Image">
                                                        </a>
                                                        <a href="#">{{ booking.patient.name }} <span>#PT{{ booking.patient.id }}</span></a>
                                                    </h2>
                                                </td>
                                                <td>{{ booking.doctor.name }}</td>
                                                <td>{{ booking.date }} <span class="d-block text-info">{{ booking.time }}</span></td>
                                                <td>{{ booking.get_purpose_display }}</td>
                                                <td>{{ booking.get_type_display }}</td>
												<td>${{ booking.amount }}</td>
                                                <td>{{ booking.status }}</td>
                                                <td>
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                            <i class="far fa-eye"></i> عرض
                                                        </a>
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                            <i class="fas fa-check"></i> قبول
                                                        </a>
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i> إلغاء
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="7">لا توجد مواعيد اليوم.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>        
                                </div>    
                            </div>    
                        </div>    
                    </div>
                    <!-- /Today Appointment Tab -->
                    
                </div>
            </div>
        </div>
    </div>

</div>
