{% load static %}
<div class="col-md-7 col-lg-8 col-xl-9 my_patients section d-none">
  {% for i in specialties %}
    <h1>{{ i }}</h1>
  {% endfor %}
  <div class="row row-grid">
    {% for patient in patients %}
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card widget-profile pat-widget-profile">
          <div class="card-body">
            <div class="pro-widget-content">
              <div class="profile-info-widget">
                <a href="patient-profile.html" class="booking-doc-img">
                  <img src="{% if patient.profile_picture %}{{ patient.profile_picture.url }}{% else %}{% static 'assets/img/patients/patient.jpg' %}{% endif %}" alt="User Image">
                </a>
                <div class="profile-det-info">
                  <h3><a href="patient-profile.html">{{ patient.full_name }}</a></h3>
                  <div class="patient-details">
                    <h5><b>رقم المريض :</b> {{ patient.id }}</h5>
                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{ patient.address }}</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="patient-info">
              <ul>
                <li>الهاتف <span>{{ patient.phone_number }}</span></li>
                <li>تاريخ الميلاد <span>{{ patient.birth_date|date:"d-m-Y" }}</span></li>
                <li>الجنس <span>{% if patient.gender == '0' %}ذكر{% else %}أنثى{% endif %}</span></li>
                <li>زمرة الدم <span>{{ patient.blood_group }}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
