{% extends "frontend/layouts/master.html" %}
{% block content %}
	<!-- Breadcrumb -->
    <div class="breadcrumb-bar-two">
        <div class="container">
            <div class="row align-items-center inner-banner">
                <div class="col-md-12 col-12 text-center">
                    <h2 class="breadcrumb-title">المدونة</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
                            <li class="breadcrumb-item" aria-current="page">المدونة</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-md-12">

                    <div class="row blog-grid-row">
                        {% for post in page_obj %}
                        <div class="col-md-6 col-sm-12">

                            <!-- Blog Post -->
                            <div class="blog grid-blog">
                                <div class="blog-image">
                                    <a href="{{ post.get_absolute_url }}"><img class="img-fluid" src="{{post.image.url}}" alt="{{post.title}}"></a>
                                </div>
                                <div class="blog-content">
                                    <ul class="entry-meta meta-item">
                                        <li>
                                            <div class="post-author">
                                                <a href="doctor-profile.html"><img src="" alt=""> <span>{{post.author.username}}</span></a>
                                            </div>
                                        </li>
                                        <li><i class="far fa-clock"></i>{{ post.created_at|date:"F j, Y" }}</li>
                                        <li><i class="far fa-eye"></i>{{ post.views_count }} مشاهدة</li>
                                        <li><i class="far fa-comments"></i>{{ post.comments.count }} تعليق</li>
                                    </ul>
                                    <h3 class="blog-title"><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
                                    <p class="mb-0">{{ post.content|truncatechars:70 }}
                                    </p>
                                </div>
                            </div>
                            <!-- /Blog Post -->

                        </div>
                        {% endfor %}
                    </div>
                    {% if page_obj.has_other_pages %}
    <!-- Blog Pagination -->
    <div class="row">
        <div class="col-md-12">
            <div class="blog-pagination">
                <nav>
                    <ul class="pagination justify-content-center">

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
                            </li>
                        {% endif %}

                        <!-- Page Numbers -->
                        {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ num }}">{{ num }} <span class="visually-hidden">(الحالي)</span></a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /Blog Pagination -->
{% endif %}

                </div>

                <!-- Blog Sidebar -->
                <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

                    <!-- Search -->
                    <div class="card search-widget">
                        <div class="card-body">
                            <form class="search-form" method="GET" action="{% url 'home:blog:post_list' %}">
                                <div class="input-group">
                                    <input type="text" name="search" placeholder="ابحث عن مقال..." class="form-control" value="{{ request.GET.search }}">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /Search -->
                {% if page_obj %}
                    <!-- Latest Posts -->
                    <div class="card post-widget">
                        <div class="card-header">
                            <h4 class="card-title">أحدث المقالات</h4>
                        </div>
                        <div class="card-body">
                            <ul class="latest-posts">
                                {% for post in page_obj|slice:":5" %}
                                <li>
                                    <div class="post-thumb">
                                        <a href="{{ post.get_absolute_url }}">
                                            <img class="img-fluid" src="{{post.image.url}}" alt="blog-image">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
                                            <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
                                        </h4>
                                        <p>{{ post.created_at|date:"F j, Y" }}</p>
                                    </div>
                                </li>
                                {% endfor %}


                            </ul>
                        </div>
                    </div>
                    <!-- /Latest Posts -->
                    {% endif %}
                    <!-- Categories -->
                    {% if categories %}

                    <div class="card category-widget">
                        <div class="card-header">
                            <h4 class="card-title">التصنيفات</h4>
                        </div>
                        <div class="card-body">
                            <ul class="categories">
                                {% for category in categories %}
                                <li><a href="{{ category.get_absolute_url }}">{{ category.name }} <span>
                                    {% with category.posts.count as total_cate %}
                                    ( {{ total_cate }} )

                                    {% endwith %}
                                </span></a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <!-- /Categories -->
                    {% endif %}
                    {% if tags %}
                    <!-- Tags -->
                    <div class="card tags-widget">
                        <div class="card-header">
                            <h4 class="card-title">الوسوم</h4>
                        </div>
                        <div class="card-body">
                            <ul class="tags">
                                {% for tag in tags %}
                                <li><a href="{{ tag.get_absolute_url }}" class="tag">{{tag}}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <!-- /Tags -->
                    {% endif %}
                </div>
                <!-- /Blog Sidebar -->

            </div>
        </div>
    </div>
    <!-- /Page Content -->
{% endblock content %}