{% extends "frontend/layouts/master.html" %}
{% load static %}

{% block content %}

			<!-- Breadcrumb -->
			<div class="breadcrumb-bar-two">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<h2 class="breadcrumb-title">Doctor Profile</h2>
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item" aria-current="page">Doctor Profile</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

				<!-- Doctor Widget -->
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<img src="{{ doctor.photo.url }}" class="img-fluid" alt="{{ doctor.full_name }}">
								</div>
								<div class="doc-info-cont">
									<!-- اسم الدكتور -->
									<h4 class="doc-name">{{ doctor.full_name }}</h4>

									<!-- أسماء المستشفيات المرتبطة -->
									<p class="doc-speciality">
										{% for hospital in hospitals %}
											<span>{{ hospital.name }}</span>{% if not forloop.last %}, {% endif %}
										{% endfor %}
									</p>

									<!-- قسم الطبيب -->
									<p class="doc-department">
										<img src="{{ doctor.specialty.image.url }}" class="img-fluid" alt="Speciality">
										{{ doctor.specialty.name }}
									</p>

									 <!-- التقييمات -->
									 <div class="rating">
										<i class="fas fa-star {% if average_rating >= 1 %}filled{% endif %}"></i>
										<i class="fas fa-star {% if average_rating >= 2 %}filled{% endif %}"></i>
										<i class="fas fa-star {% if average_rating >= 3 %}filled{% endif %}"></i>
										<i class="fas fa-star {% if average_rating >= 4 %}filled{% endif %}"></i>
										<i class="fas fa-star {% if average_rating >= 5 %}filled{% endif %}"></i>
										<span class="d-inline-block average-rating">({{ reviews.count }})</span>
									</div>
									
									<div class="clinic-details">


										<ul class="clinic-gallery">
											<li>
												<a href="{% static 'img/features/feature-01.jpg' %}" data-fancybox="gallery">
													<img src="{% static 'img/features/feature-01.jpg' %}" alt="Feature">
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										<li><i class="far fa-comment"></i> {{ reviews.count }} تعليق</li>
										<li><i class="fas fa-map-marker-alt"></i>العنوان: {{ doctor.sub_title }}  </li>
										<li><i class="far fa-money-bill-alt"></i> {{ pricing.amount }} $ </li>
									</ul>
								</div>
								<div class="doctor-action">
									<a href="javascript:void(0)" class="btn {% if isFavorite.exists %} btn-red {% else %} btn-white {% endif %} fav-btn" data-doctor-id="{{ doctor.id }}">
										<i class="far fa-bookmark"></i>
									</a>
								</div>
								<div class="clinic-booking">
									<a class="apt-btn" href="booking.html">Book Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Doctor Widget -->

					
					<!-- Doctor Details Tab -->
					<div class="card">
						<div class="card-body pt-0">
						
							<!-- Tab Menu -->
							<nav class="user-tabs mb-4">
								<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
									<li class="nav-item">
										<a class="nav-link active" href="#doc_overview" data-bs-toggle="tab">لمحه</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#doc_locations" data-bs-toggle="tab">الموفع</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#doc_reviews" data-bs-toggle="tab">التقييمات</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#doc_business_hours" data-bs-toggle="tab">ساعات العمل</a>
									</li>
								</ul>
							</nav>
							<!-- /Tab Menu -->
							
							<!-- Tab Content -->
							<div class="tab-content pt-0">
							
								<!-- Overview Content -->
								<div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
									<div class="row">
										<div class="col-md-12 col-lg-9">
										
											<!-- About Details -->
											<div class="widget about-widget">
												<h4 class="widget-title">نبذه عن الطبيب</h4>
												<p>{{doctor.sub_title}}</p>
											</div>
											<!-- /About Details -->
											
											<!-- Specializations List -->
											<div class="service-list">
												<h4>Hospitals Where He/SHe Works</h4>
												<ul class="clearfix">
													{% for hospital in doctor.hospitals.all %}
													<li>{{hospital.name}}</li>
													{% endfor %}
													
												</ul>
											</div>
											<!-- /Specializations List -->

										</div>
									</div>
								</div>
								<!-- /Overview Content -->
								
								<!-- Locations Content -->
								<div role="tabpanel" id="doc_locations" class="tab-pane fade">
								
									<!-- Location List -->
									<div class="location-list">
										<div class="row align-items-start">
										
											<div class="col-md-4">
												{% for hospital in doctor.hospitals.all %}
												<div class="clinic-content">
													<h4 class="clinic-name"><a href="#"><span>{{ hospital.name }}</span></a></h4>
													<p class="doc-speciality">{{ doctor.specialty.name }}</p>

													<div class="rating">
														<i class="fas fa-star {% if average_rating >= 1 %}filled{% endif %}"></i>
														<i class="fas fa-star {% if average_rating >= 2 %}filled{% endif %}"></i>
														<i class="fas fa-star {% if average_rating >= 3 %}filled{% endif %}"></i>
														<i class="fas fa-star {% if average_rating >= 4 %}filled{% endif %}"></i>
														<i class="fas fa-star {% if average_rating >= 5 %}filled{% endif %}"></i>
														<span class="d-inline-block average-rating">({{ reviews.count }})</span>
													</div>

													<div class="clinic-details mb-0">
														<h5 class="clinic-direction"> <i class="fas fa-map-marker-alt"></i> {{ hospital.city.name }} الموقع <br><a href="javascript:void(0);">{{ hospital.location }}</a></h5>
														<ul>
															<li>
																<a href="{% static 'img/features/feature-01.jpg' %}" data-fancybox="gallery2">
																	<img src="{% static 'img/features/feature-01.jpg' %}" alt="Feature Image">
																</a>
															</li>
															<li>
																<a href="{% static 'img/features/feature-02.jpg' %}" data-fancybox="gallery2">
																	<img src="{% static 'img/features/feature-02.jpg' %}" alt="Feature Image">
																</a>
															</li>
															<li>
																<a href="{% static 'img/features/feature-03.jpg' %}" data-fancybox="gallery2">
																	<img src="{% static 'img/features/feature-03.jpg' %}" alt="Feature Image">
																</a>
															</li>
															<li>
																<a href="{% static 'img/features/feature-04.jpg' %}" data-fancybox="gallery2">
																	<img src="{% static 'img/features/feature-04.jpg' %}" alt="Feature Image">
																</a>
															</li>
														</ul>
													</div>
												</div>
												{% endfor %}
											</div>
											<!-- /Clinic Content -->

											<div class="col-md-4">
												<div class="clinic-timing">
													{% for schedule in doctor.schedules.all %}
													<div class="schedule-item">
														<p class="timings-days">
															<span>{{ schedule.get_day_display }}</span>
														</p>
														
														<p class="timings-days">
															<span>مواعيد متاحة</span>:
															<br>
															{% for shift in schedule.shifts.all %}
															<span>{{ shift.start_time }} - {{ shift.end_time }}</span>
															<br>
														{% endfor %}
														</p>
														
													</div>
													<hr> <!-- خط فاصل بين المواعيد -->
													{% endfor %}
												</div>
											</div>
											<!-- /Clinic Timing -->

											<div class="col-md-4">
												<div class="consult-price text-left">
													<h4>السعر</h4>
													<p>{{ pricing.amount }} $</p>
												</div>
											</div>
											<!-- /Price -->
										</div>
									</div>

									<!-- /Location List -->
									
								</div>
								<!-- /Locations Content -->
								
								<!-- Reviews Content -->
								<div role="tabpanel" id="doc_reviews" class="tab-pane fade">
								
									<!-- Review Listing -->
									<div class="widget review-listing">
										<ul class="comments-list">
										{% if reviews.count > 0 %}
										{% for review in reviews %}
										<!-- Comment List -->
										<li>
											<div class="comment">
												{% if review.user.profile_picture %}
												
												<img class="avatar avatar-sm rounded-circle" alt="User Image" src="{{review.user.profile_picture.url}}">
												{% endif %}
												<div class="comment-body">
													<div class="meta-data">
														<span class="comment-author">{{ review.user.full_name }}</span>
														<span class="comment-date">Reviewed {{ review.created_at }}</span>
														<div class="review-count rating">
															<i class="fas fa-star {% if review.rating >= 1 %}filled{% endif %}"></i>
										<i class="fas fa-star {% if review.rating >= 2 %}filled{% endif %}"></i>
										<i class="fas fa-star {% if review.rating >= 3 %}filled{% endif %}"></i>
										<i class="fas fa-star {% if review.rating >= 4 %}filled{% endif %}"></i>
										<i class="fas fa-star {% if review.rating >= 5 %}filled{% endif %}"></i>
										<span class="d-inline-block average-rating">({{ reviews.count }})</span>
												</div>
													</div>
													{% comment %} <p class="recommended"><i class="far fa-thumbs-up"></i> I recommend the doctor</p> {% endcomment %}
													<p class="comment-content">
														{{review.review}}
													</p>
													
												</div>
											</div>
											
											
										</li>
										<!-- /Comment List -->
										{% endfor %}
										
										{% endif %}
											
											
										</ul>
										
										
										
									</div>
									<!-- /Review Listing -->
								
									<!-- Write Review -->
									<div class="write-review">
										<h4>Write a review for <strong>Dr. {{ doctor.full_name }}</strong></h4>
										
										<!-- Write Review Form -->
										<form method="post" action='{% url "home:doctor_profile" doctor.id  %}' > 
											{% csrf_token %}
											<div class="mb-3">
												<label class="mb-2">Review</label>
												<div class="star-rating">
													<input id="star-5" type="radio" name="rating" value="5">
													<label for="star-5" title="5 stars">
														<i class="active fa fa-star"></i>
													</label>
													<input id="star-4" type="radio" name="rating" value="4">
													<label for="star-4" title="4 stars">
														<i class="active fa fa-star"></i>
													</label>
													<input id="star-3" type="radio" name="rating" value="3">
													<label for="star-3" title="3 stars">
														<i class="active fa fa-star"></i>
													</label>
													<input id="star-2" type="radio" name="rating" value="2">
													<label for="star-2" title="2 stars">
														<i class="active fa fa-star"></i>
													</label>
													<input id="star-1" type="radio" name="rating" value="1">
													<label for="star-1" title="1 star">
														<i class="active fa fa-star"></i>
													</label>
												</div>
											</div>
											
											<div class="mb-3">
												<label class="mb-2">Your review</label>
												<textarea id="review_desc" maxlength="100" name="review" class="form-control"></textarea>
											  
											  <div class="d-flex justify-content-between mt-3"><small class="text-muted"><span id="chars">100</span> characters remaining</small></div>
											</div>
											<hr>
											
											<div class="submit-section">
												<button type="submit" class="btn btn-primary submit-btn">Add Review</button>
											</div>
										</form>
										<!-- /Write Review Form -->
										
									</div>
									<!-- /Write Review -->
						
								</div>
								<!-- /Reviews Content -->
								
								<!-- Business Hours Content -->
								<div role="tabpanel" id="doc_business_hours" class="tab-pane fade">
									<div class="row">
										<div class="col-md-6 offset-md-3">
										
											<!-- Business Hours Widget -->
											<div class="widget business-widget">
												<div class="widget-content">
													<div class="listing-hours">
														{% for schedule in doctor.schedules.all %}
														{% if  day_name == schedule.get_day_display  %}
														<div class="listing-day current">
															<div class="day">Today <span>{{day_date}}</span></div>
															<div class="time-items">
																<span class="open-status"><span class="badge bg-success-light">Open Now</span></span>
																{% for shift in schedule.shifts.all %}
																<span class="time">{{shift.start_time}} - {{shift.end_time}}</span>
																{% endfor %}
															</div>
														</div>
														{% endif %}

														{% endfor %}


														{% for schedule in doctor.schedules.all %}
														{% if  day_name != schedule.get_day_display  %}
														<div class="listing-day">
															<div class="day">{{schedule.get_day_display}}</div>
															<div class="time-items">
																<br>
																{% for shift in schedule.shifts.all %}
																<span class="time">{{shift.start_time}} - {{shift.end_time}}</span>
																{% endfor %}
															</div>
														</div>
														{% endif %}

														{% endfor %}
														{% comment %} <div class="listing-day closed">
															<div class="day">Sunday</div>
															<div class="time-items">
																<span class="time"><span class="badge bg-danger-light">Closed</span></span>
															</div>
														</div> {% endcomment %}
													</div>
												</div>
											</div>
											<!-- /Business Hours Widget -->
									
										</div>
									</div>
								</div>
								<!-- /Business Hours Content -->
								
							</div>
						</div>
					</div>
					<!-- /Doctor Details Tab -->

				</div>
			</div>		
			<!-- /Page Content -->
   
			
						
			<script>
				document.querySelectorAll('.fav-btn').forEach(function(button) {
					button.addEventListener('click', function() {
						var doctorId = this.getAttribute('data-doctor-id');
						
						fetch("{% url 'home:add_to_favorites' %}", {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json',  
								'X-CSRFToken': '{{ csrf_token }}', 
							},
							body: JSON.stringify({
								'doctor_id': doctorId,
							}),
						})
						.then(response => response.json())  
						.then(data => {
							if (data.status === 'success') {
								var icon = button.querySelector('i');
								
								if (!button.classList.contains('btn-red')) {
									button.classList.add('btn-red');
								} else {
									button.classList.remove('btn-red');
								}
								/*
								alert(data.message);
								*/
							} else {
								/*
								alert(data.message);
								*/
							}
						})
						.catch(error => {
							console.error('Error:', error);
						});
					});
				});
			</script>
									
            {% endblock %}
