{% extends "frontend/layouts/master.html" %}
{% load static %}


{% block content %}
<!-- Page Content -->
<div class="doctor-content">
    <div class="container">

        <!-- Payment -->
        <div class="row">
            <div class="col-md-12">
                <div class="back-link">
                    <a href="{% url 'home:booking' doctor.id %}"><i class="fa-solid fa-arrow-left-long"></i> Back</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="paitent-header">
                    <h4 class="paitent-title">Payment</h4>
                </div>
                <div class="booking-header">
                    <h4 class="booking-title">Payments Methods</h4>
                </div>
                <form action="{% url 'home:payment'  %}" method="POST">
                    {% csrf_token %}
                <div class="payments-form">
                    <div class="payment-mb-3">
                        {% for payment_methods in payment_methods %}
                        <div class="mb-3">
                            <label style="color: black;" >
                                <input type="radio"z id="contactChoice_{{payment_methods.id}}" name="payment" value="{{ payment_methods.id }}" data-description="{{ payment_methods.description }}" data-account-number="{{ payment_methods.account_number }}" id="payment-method-{{ payment_methods.id }}">
                                
                                <!-- Display the payment method image with a rectangular shape -->
                                <div class="payment-method-item" style="display: flex;align-items: center;">
                                    {% if payment_methods.payment_option.logo %}
                                        <img src="{{ payment_methods.payment_option.logo.url }}" alt="{{ payment_methods.payment_option.method_name }}" class="payment-method-logo" style="width: 60px;height: 40px;object-fit: cover;margin-right: 10px;">
                                    {% endif %}
                                    <span class="checkmark"></span> {{ payment_methods.payment_option.method_name }}
                                </div>
                            </label>
                        </div>
                        
                        
                        {% endfor %}

                        <div id="payment-details">
                            <div class="booking-header">
                                <h4 class="booking-title" id="payment-description"></h4>
                                <h4 class="booking-title" id="payment-account-number"></h4>
                            </div>
                        </div>
                    </div>
                    
                        <input type="hidden" name="selected_date" value="{{ selected_date.id }}">
                        <input type="hidden" name="selected_time" value="{{ selected_time.id }}">
                        <input type="hidden" name="booking_date" value="{{ booking_date }}">
                        <input type="hidden" name="doctor_id" value="{{ doctor.id }}">
                        <div class="mb-3 card-label">
                            <label class="mb-2">Transfer Number</label>
                            <input type="text" name="transfer_number" class="form-control" placeholder="Enter NUmber of transfer">
                        </div>
                        <div class="mb-3 mb-0">
                            <div class="booking-btn">
                                <button type="submit" class="btn btn-primary prime-btn justify-content-center align-items-center">
                                    Next <i class="feather-arrow-right-circle"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="booking-header">
                    <h4 class="booking-title">Booking Summary</h4>
                </div>
                <div class="card booking-card">
                    <div class="card-body booking-card-body">
                        <div class="booking-doctor-details">
                            <div class="booking-doctor-left">
                                <div class="booking-doctor-img">
                                    <a href="{% url 'doctors:doctor_detail' doctor.slug %}">
                                        {% if doctor.photo %}
                                            <img src="{{ doctor.photo.url }}" alt="{{ doctor.full_name }}">
                                        {% else %}
                                            <img src="{% static 'img/doctors/default-doctor.jpg' %}" alt="{{ doctor.full_name }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="booking-doctor-info">
                                    <h4><a href="{% url 'doctors:doctor_detail' doctor.slug %}">Dr. {{ doctor.full_name }}</a></h4>
                                    <p>{{ doctor.specialty.name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card booking-card">
                    <div class="card-body booking-card-body booking-list-body">
                        <div class="booking-list">
                            <div class="booking-date-list">
                                <ul>
                                    <li>Booking Date: <span>{{ selected_date.get_day_display }}</span></li>
                                    <li>Booking Time: <span>{{ selected_time }}</span></li>
                                </ul>
                            </div>
                            <div class="booking-doctor-right">
                                <p>
                                    <a href="{% url 'home:booking' doctor.id %}">Edit</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card booking-card">
                    <div class="card-body booking-card-body booking-list-body">
                        <div class="booking-list">
                            <div class="booking-date-list consultation-date-list">
                                <ul>
                                    <li>Consultation Fee: <span>${{ amount }}</span></li>
                                    <!-- <li>Booking Fee: <span>$8.00</span></li> -->
                                    <!-- <li>Tax: <span>$5.00</span></li> -->
                                    <li><span class="total-amount"></span>Total <span><span>${{ amount }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Payment -->

    </div>
</div>
<!-- /Page Content -->

<!-- Cursor -->
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>

<script>
    document.querySelectorAll('input[name="payment"]').forEach(function(input) {
        input.addEventListener('change', function() {
            const description = this.getAttribute('data-description');
            const accountNumber = this.getAttribute('data-account-number');
    
            document.getElementById('payment-description').textContent = description ? description : 'No description available';
            document.getElementById('payment-account-number').textContent = accountNumber ? accountNumber : 'No account number available';
    
            document.querySelectorAll('.custom_radio').forEach(function(label) {
                label.classList.remove('active');  
            });
    
            this.parentElement.classList.add('active');
        });
    });
    
</script>

{% endblock %}
