{% extends "frontend/layouts/master.html" %}
{% load static %}

{% block content %}
<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Search Doctors</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Search Doctors</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="doctor-content content">
    <div class="container">

        <!-- Doctor Search List -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 map-view">
                <div class="row">
                    <div class="col-lg-3  theiaStickySidebar">
                        <div class="filter-contents">
                            <div class="filter-header">
                                <h4 class="filter-title">Filter</h4>
                            </div>
                            <div class="filter-details">
                                <form id="filterForm" method="GET">
                                <!-- Filter Grid -->
                                <div class="filter-grid">
                                    <h4>
                                        <a href="#collapseone" data-bs-toggle="collapse">Gender</a>
                                    </h4>
                                    <div id="collapseone" class="collapse show">
                                        <div class="filter-collapse">
                                            <ul>
                                                <li>
                                                    <label class="custom_check d-inline-flex">  
                                                        <input type="radio" name="gender" value="male" {% if selected_filters.gender == '1' or selected_filters.gender == 'male' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        Male Gender
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="gender" value="female" {% if selected_filters.gender == '0' or selected_filters.gender == 'female' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        Female Gender
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Filter Grid -->

                                <!-- Filter Grid -->
                                <div class="filter-grid">
                                    <h4>
                                        <a href="#collapsethree" data-bs-toggle="collapse">Consultation Fee</a>
                                    </h4>
                                    <div id="collapsethree" class="collapse show">
                                        <div class="filter-collapse">
                                            <ul>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="fee_range" value="low" {% if selected_filters.fee_range == 'low' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        $0 - $100
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="fee_range" value="medium" {% if selected_filters.fee_range == 'medium' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        $101 - $200
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="fee_range" value="high" {% if selected_filters.fee_range == 'high' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        $201 - $500
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="fee_range" value="very_high" {% if selected_filters.fee_range == 'very_high' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        $500+
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Filter Grid -->

                                <!-- Filter Grid -->
                                <div class="filter-grid">
                                    <h4>
                                        <a href="#collapsefive" data-bs-toggle="collapse">Experience</a>
                                    </h4>
                                    <div id="collapsefive" class="collapse show">
                                        <div class="filter-collapse">
                                            <ul>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="experience" value="0-2" {% if selected_filters.experience == '0-2' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        0-2 Years
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="experience" value="2-5" {% if selected_filters.experience == '2-5' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        2-5 Years
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="experience" value="5-10" {% if selected_filters.experience == '5-10' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        5-10 Years
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="experience" value="10+" {% if selected_filters.experience == '10+' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        10+ Years
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Filter Grid -->

                                <!-- Filter Grid -->
                                <div class="filter-grid">
                                    <h4>
                                        <a href="#collapseseven" data-bs-toggle="collapse">By Rating</a>
                                    </h4>
                                    <div id="collapseseven" class="collapse show">
                                        <div class="filter-collapse">
                                            <ul>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="rating" value="4" {% if selected_filters.rating == '4' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        4+ Rating
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="rating" value="3" {% if selected_filters.rating == '3' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        3+ Rating
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="custom_check d-inline-flex">
                                                        <input type="radio" name="rating" value="2" {% if selected_filters.rating == '2' %}checked{% endif %}>
                                                        <span class="checkmark"></span>
                                                        2+ Rating
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Filter Grid -->

                                <!-- Filter Btn -->
                                <div class="filter-btn">
                                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                                    <a href="{% url 'home:search_view' %}" class="btn btn-outline-primary">Reset Filters</a>
                                </div>
                                <!-- /Filter Btn -->
                                </form>
                            </div>
                        </div>
                    </div>






                    
                    <div class="col-lg-9">
                        <div class="doctor-filter-info">
                            <div class="doctor-filter-inner">
                                <div>
                                    <div class="doctors-found">
                                        <p><span>100 Doctors found for:</span> Dentist in San francisco, California</p>
                                    </div>
                                    <div class="doctor-filter-availability">
                                        <p>Availability</p>
                                        <div class="status-toggle status-tog">
                                            <input type="checkbox" id="status_6" class="check">
                                            <label for="status_6" class="checktoggle">checkbox</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="doctor-filter-option">
                                    <div class="doctor-filter-sort">
                                        <p>Sort</p>
                                        <div class="doctor-filter-select">
                                            <select class="select">
                                                <option>A to Z</option>
                                                <option>B to Z</option>
                                                <option>C to Z</option>
                                                <option>D to Z</option>
                                                <option>E to Z</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="doctor-filter-sort">
                                        <p class="filter-today d-flex align-items-center">
                                            <i class="feather-calendar"></i> Today 10 Aug to 20 Aug
                                        </p>
                                    </div>
                                    <div class="doctor-filter-sort">
                                        <ul class="nav">
                                            <li>
                                                <a href="javascript:void(0);" id="map-list">
                                                    <i class="feather-map-pin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="doctor-search-grid.html">
                                                    <i class="feather-grid"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="search-2.html" class="active">
                                                    <i class="feather-list"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        {%for doctor in doctors %}
                       
                        <div class="card doctor-card">
                            <div class="card-body">
                                <div class="doctor-widget-one">
                                    <div class="doc-info-left">
                                        <div class="doctor-img">
                                            <a href="{% url 'home:doctor_profile' doctor_id=doctor.id %}">
                                              {% if doctor.photo %}
                                                <img src="{{ doctor.photo.url }}" alt="{{ doctor.full_name }}">
                                            {% else %}
                                                <img src="{% static 'img/doctors/default-doctor.jpg' %}" alt="{{ doctor.full_name }} "class="img-fluid">
                                            {% endif %}
                                            <div class="favourite-btn">
                                                <a href="javascript:void(0)" class="favourite-icon">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="doc-info-cont">
                                            <h4 class="doc-name">
                                                <a href="{% url 'home:doctor_profile' doctor_id=doctor.id %}">{{doctor.full_name}}</a>
                                                <i class="fas fa-circle-check"></i>
                                            </h4>
                                            <p class="doc-speciality">MBBS, Dentist</p>
                                            <div class="clinic-details">
                                                <p class="doc-location">
                                                    <i class="feather-map-pin"></i>
                                                    <span>0.9</span> mi - Newyork, USA <a href="javascript:void(0);">Get Direction</a>
                                                </p>
                                                <p class="doc-location">
                                                    <i class="feather-award"></i> <span>20</span> Years of Experience
                                                </p>
                                            </div>
                                            <div class="reviews-ratings">
                                                <p>
                                                    <span><i class="fas fa-star"></i> 4.5</span> (35 Reviews)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="doc-info-right">
                                        <div class="clini-infos">
                                            <ul>
                                                <li>
                                                    <i class="feather-clock available-icon"></i> 
                                                    <span class="available-date available-today">Available Today</span>
                                                </li>
                                                <li><i class="feather-thumbs-up available-icon"></i> 98% <span class="votes">(252 Votes)</span></li>
                                                <li><i class="feather-dollar-sign available-icon"></i> $1500 <i class="feather-info available-info-icon"></i></li>
                                            </ul>
                                        </div>
                                        <div class="clinic-booking book-appoint">
                                            <a class="btn btn-primary" href="{% url 'home:doctor_profile' doctor_id=doctor.id %}">Book Appointment</a>
                                            <a class="btn btn-primary-light" href="{% url 'home:doctor_profile' doctor_id=doctor.id %}?type=online">Book Online Consultation</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {%endfor%}




                        {% if page_obj.has_other_pages %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="blog-pagination rev-page">
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link page-prev" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                                                    <i class="feather-chevrons-left me-1"></i> PREV
                                                </a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link page-prev">
                                                    <i class="feather-chevrons-left me-1"></i> PREV
                                                </span>
                                            </li>
                                            {% endif %}

                                            {% for num in page_obj.paginator.page_range %}
                                                {% if page_obj.number == num %}
                                                    <li class="page-item active">
                                                        <span class="page-link">{{ num }}</span>
                                                    </li>
                                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link page-next" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                                                    NEXT <i class="feather-chevrons-right ms-1"></i>
                                                </a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link page-next">
                                                    NEXT <i class="feather-chevrons-right ms-1"></i>
                                                </span>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12 theiaStickySidebar map-right">
                <div id="map" class="map-listing"></div>
            </div>
        </div>
        <!-- /Doctor Search List -->

    </div>
</div>		
<!-- /Page Content -->	
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/search-filters.js' %}"></script>
{% endblock %}