{% extends "frontend/layouts/master.html" %}
{% load static %}
{% block content %}
    <!-- شريط التنقل -->
    <div class="breadcrumb-bar-two">
        <div class="container">
            <div class="row align-items-center inner-banner">
                <div class="col-md-12 col-12 text-center">
                    <h2 class="breadcrumb-title">{% if is_online %}استشارة أونلاين{% else %}حجز موعد{% endif %}</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
                            <li class="breadcrumb-item" aria-current="page">{% if is_online %}استشارة أونلاين{% else %}حجز موعد{% endif %}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /شريط التنقل -->
    
    <!-- المحتوى -->
    <div class="content content-space">
        <div class="container">
            <!-- الحجز -->
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="booking-header">
                        <h4 class="booking-title">حجز موعد مع الدكتور {{ doctor.full_name }}</h4>
                        <p>{{ doctor.specialty.name }} • {{ doctor.hospitals.first.name }}</p>
                    </div>
                    <div class="booking-date choose-date-book">
                        <p>اختر التاريخ</p>
                        <div class="booking-range">
                            <div class="bookingrange btn">
                                <img src="{% static 'img/icons/today-icon.svg' %}" alt="صورة التقويم">
                                <span></span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card booking-card">
                        <div class="card-body time-slot-card-body">
                            <div class="booking-date-slider">
                                <ul class="date-slider slick">
                                    {% for schedule in schedules %}
                                    <li 
                                    {% if forloop.first %}class="active"{% endif %}
                                    data-start="{{ schedule.start_time|time:'H:i' }}" 
                                    data-end="{{ schedule.end_time|time:'H:i' }}">
                                        <h4>{{ schedule.day }}</h4>
                                        <p>{{ schedule.date|date:"M d" }}</p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="time-slot time-slot-blk">
                                        <h4>صباحًا</h4>
                                        <div class="time-slot-list">
                                            <ul>
                                                {% for schedule in schedules %}
                                                {% if schedule.start_time.hour < 12 %}
                                                <li>
                                                    <a class="timing {% if schedule.is_available %}available{% endif %}" href="javascript:void(0);">
                                                        <span><i class="feather-clock"></i> {{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}</span>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="time-slot time-slot-blk">
                                        <h4>ظهرًا</h4>
                                        <div class="time-slot-list">
                                            <ul>
                                                {% for schedule in schedules %}
                                                {% if schedule.start_time.hour >= 12 and schedule.start_time.hour < 17 %}
                                                <li>
                                                    <a class="timing {% if schedule.is_available %}available{% endif %}" href="javascript:void(0);">
                                                        <span><i class="feather-clock"></i> {{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}</span>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="time-slot time-slot-blk">
                                        <h4>مساءً</h4>
                                        <div class="time-slot-list">
                                            <ul>
                                                {% for schedule in schedules %}
                                                {% if schedule.start_time.hour >= 17 %}
                                                <li>
                                                    <a class="timing {% if schedule.is_available %}available{% endif %}" href="javascript:void(0);">
                                                        <span><i class="feather-clock"></i> {{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}</span>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="booking-btn">
                        <a href="{% url 'payments:process' doctor.id %}" class="btn btn-primary prime-btn justify-content-center align-items-center">
                            التالي <i class="feather-arrow-right-circle"></i>
                        </a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-12">
                    <div class="booking-header">
                        <h4 class="booking-title">ملخص الحجز</h4>
                    </div>
                    <div class="card booking-card">
                        <div class="card-body booking-card-body">
                            <div class="booking-doctor-details">
                                <div class="booking-doctor-left">
                                    <div class="booking-doctor-img">
                                        {% if doctor.image %}
                                        <img src="{{ doctor.image.url }}" class="img-fluid" alt="{{ doctor.full_name }}">
                                        {% else %}
                                        <img src="{% static 'img/doctors/doctor-thumb-02.jpg' %}" class="img-fluid" alt="صورة الطبيب">
                                        {% endif %}
                                    </div>
                                    <div class="booking-doctor-info">
                                        <h4><a href="{% url 'doctors:doctor_detail' doctor.slug %}">الدكتور {{ doctor.full_name }}</a></h4>
                                        <p>{{ doctor.specialty.name }}</p>
                                    </div>
                                </div>
                                <div class="booking-doctor-right">
                                    <p>
                                        <i class="fas fa-circle-check"></i>
                                        {% if is_online %}استشارة أونلاين{% else %}زيارة حضورية{% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="booking-availability">
                                <h5>الأيام المتاحة:</h5>
                                <ul class="list-group">
                                    {% for schedule in schedules %}
                                        <li class="list-group-item">
                                            <i class="fas fa-calendar-alt"></i> {{ schedule.day }}
                                        </li>
                                    {% empty %}
                                        <li class="list-group-item">لا توجد مواعيد متاحة.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /الحجز -->
        </div>
    </div>		
    <!-- /المحتوى -->
{% endblock %}
