{% extends "frontend/layouts/master.html" %}
{% load static %}

{% block content %}
<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
  <div class="container">
    <div class="row align-items-center inner-banner">
      <div class="col-md-12 col-12 text-center">
        <h2 class="breadcrumb-title">Doctor Blog</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Doctor Blog</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <!-- Profile Sidebar -->
        <div class="profile-sidebar">
          <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
              <a href="#" class="booking-doc-img">
                <img src="{% static 'img/reviews/review-03.jpg' %}" alt="User Image" />
              </a>
              <div class="profile-det-info">
                <h3>Dr. Darren Elder</h3>
                <div class="patient-details">
                  <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-widget">
            <nav class="dashboard-menu">
              <ul>
                <li>
                  <a href="javascript:;" data-method="doctor_dashboard" data-section="doctor_dashboard" >
                    <i class="fas fa-columns"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li >
                  <a href="javascript:;" data-method="appointments" data-section="appointments">
                                        <i class="fas fa-calendar-check"></i>
                    <span>Appointments</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;"  data-section="my_patients">
                    <a href="javascript:;"  data-section="my_patients">
                    <i class="fas fa-user-injured"></i>
                    <span>My Patients</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" data-section="schedule_timings">
                    <i class="fas fa-hourglass-start"></i>
                    <span>Schedule Timings</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" data-section="invoices">
                    <i class="fas fa-file-invoice"></i>
                    <span>Invoices</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" data-section="reviews">
                    <i class="fas fa-star"></i>
                    <span>Reviews</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" data-section="doctor_pending_blog">
                    <i class="fas fa-comments"></i>
                    <span>doctor blog</span>
                    <small class="unread-msg">23</small>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" data-section="doctor_profile_settings">
                    <i class="fas fa-user-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" data-section="social_media">
                    <i class="fas fa-share-alt"></i>
                    <span>Social Media</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" data-section="doctor_change_password">
                    <i class="fas fa-lock"></i>
                    <span>Change Password</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" data-section="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /Profile Sidebar -->
      </div>

      <!-- Include Sections -->
      
      {% include "./sections/appointments.html" %}
   
      {% include "./sections/available-timings.html" %}
      {% include "./sections/doctor-add-blog.html" %}
      {% include "./sections/doctor-blog.html" %}
      {% include "./sections/doctor-change-password.html" %}
      {% include "./sections/doctor-dashboard.html" %}
      {% include "./sections/doctor-pending-blog.html" %}
      {% include "./sections/doctor-profile-settings.html" %}
      {% include "./sections/invoice-view.html" %}
      {% include "./sections/invoices.html" %}
      
      {% include "./sections/my-patients.html" %}
 
      {% include "./sections/reviews.html" %}
      {% include "./sections/schedule-timings.html" %}
      {% include "./sections/social-media.html" %}
    </div>
  </div>
</div>
<!-- /Page Content -->
{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    function showSection(targetSection) {
      $(".section").addClass("d-none");
      
      
      $(`.${targetSection}`).removeClass("d-none");
    }
  
    $("a[data-method]").on("click", function () {
      const methodName = $(this).data("method");
      showSection(methodName)
     
    });
  });
  
</script>
{% endblock extra_js %}
