{% extends 'base.html' %}

{% block title %}قائمة تقييمات الأطباء{% endblock %}

{% block content %}
  <h1>قائمة تقييمات الأطباء</h1>
  <a href="{% url 'doctor:doctorrates_add' %}">إضافة تقييم</a>
  <table>
    <thead>
      <tr>
        <th>الطبيب</th>
        <th>المستشفى</th>
        <th>التقييم</th>
        <th>الإجراءات</th>
      </tr>
    </thead>
    <tbody>
      {% for doctorrate in object_list %}
        <tr>
          <td>{{ doctorrate.doctor.name }}</td>
          <td>{{ doctorrate.hospital.name }}</td>
          <td>{{ doctorrate.rate }}</td>
          <td>
            <a href="{% url 'doctor:doctorrates_edit' doctorrate.pk %}">تعديل</a> |
            <a href="{% url 'doctor:doctorrates_delete' doctorrate.pk %}" onclick="return confirm('هل أنت متأكد أنك تريد حذف هذا التقييم؟');">
              حذف
            </a>
          </td>
        </tr>
      {% empty %}
      <tr>
        <td colspan="4">لا توجد تقييمات للأطباء حالياً</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
