<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الرئيسية للأطباء</title>
</head>
<body>
    <header>
        <h1>مرحبًا بكم في صفحة إدارة الأطباء</h1>
        <nav>
            <ul>
                <li><a href="{% url 'doctor:specialties_list' %}">إدارة التخصصات</a></li>
                <li><a href="{% url 'doctor:doctors_list' %}">إدارة الأطباء</a></li>
                <li><a href="{% url 'doctor:doctorrates_list' %}">إدارة تقييمات الأطباء</a></li>
                <li><a href="{% url 'doctor:doctorschedules_list' %}">إدارة مواعيد الأطباء</a></li>
            </ul>
        </nav>
    </header>

    <footer>
        <p>&copy; 2024 - جميع الحقوق محفوظة</p>
    </footer>
</body>
</html>
