{% extends "frontend/layouts/master.html" %}
{% block content %}
{% load static %}
<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="col-md-12 col-12 text-center">
				<h2 class="breadcrumb-title">Dashboard</h2>
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item" aria-current="page">Dashboard</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
	<div class="container">

		<div class="row">
			
			<!-- Profile Sidebar -->
			<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
				<div class="profile-sidebar">
					<div class="widget-profile pro-widget-content">
						<div class="profile-info-widget">
							<a href="#" class="booking-doc-img">
								{% if patient.user.profile_picture %}
									<img src="{{ patient.user.profile_picture.url }}" alt="{{ patient.full_name }}">
								{% else %}
									<img src="{% static 'assets/img/patients/default_patient.jpg' %}" alt="Default Picture">
								{% endif %}
							</a>
							<div class="profile-det-info">
								<h3>{{ patient.full_name }}</h3>
								<div class="patient-details">
									<h5><i class="fas fa-birthday-cake"></i> 
										{{ patient.birth_date|date:"d M Y" }}, 
									</h5>
									<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{ patient.address }}</h5>
								</div>
							</div>
						</div>
						
					</div>
					<div class="dashboard-widget">
						<nav class="dashboard-menu">
							<ul>
								<li class="active">
									<a href="javascript:;" data-method="patient_dashboard" >
										<i class="fas fa-columns"></i>
										<span>لوحة التحكم</span>
									</a>
								</li>
								<li>
									<a href="javascript:;" data-method="favourites" >
										<i class="fas fa-bookmark"></i>
										<span>الأطباء المفضلين</span>
									</a>
								</li> 
								<li>
									<a href="javascript:;" data-method="dependent" >
										<i class="fas fa-users"></i>
										<span>Dependent</span>
									</a>
								</li> 
								
								
								<li>
									<a href="javascript:;" data-method="orders_list" >
										<i class="fas fa-list-alt"></i>
										<span>Orders</span>
										<small class="unread-msg">7</small>
									</a>
								</li>
								<li>
									<a href="javascript:;" data-method="notifications_list" >
										<i class="fas fa-comments"></i>
										<span>الأشعارات</span>
										<small class="unread-msg">{{ notifications.count }}</small>
									</a>
								</li>
								<li>
									<a href="javascript:;" data-method="profile_settings" >
										<i class="fas fa-user-cog"></i>
										<span>إعدادات الملف الشخصي</span>
									</a>
								</li>
								<li>
									<a href="javascript:;" data-method="change_password" >
										<i class="fas fa-lock"></i>
										<span>تعديل كلمة المرور</span>
									</a>
								</li>
								<li>
									<a href="javascript:;" data-method="logout" >
										<i class="fas fa-sign-out-alt"></i>
										<span>تسجيل الخروج </span>
									</a>
								</li>
							</ul>
						</nav>
					</div>

				</div>
			</div>
			<!-- / Profile Sidebar -->
			{% include "frontend/dashboard/patient/sections/patient-dashboard.html" %}
			{% include "frontend/dashboard/patient/sections/favourites.html" %}
			{% include "frontend/dashboard/patient/sections/dependent.html" %}
			{% include "frontend/dashboard/patient/sections/orders-list.html" %}
			{% include "frontend/dashboard/patient/sections/notifications.html" %}
			{% include "frontend/dashboard/patient/sections/profile-settings.html" %}
			{% include "frontend/dashboard/patient/sections/change-password.html" %}

		</div>

	</div>

</div>		
<!-- /Page Content -->
{% endblock content %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    function showSection(targetSection) {
      $(".section").addClass("d-none");
      
      
      $(`.${targetSection}`).removeClass("d-none");
    }
  
    $("a[data-method]").on("click", function () {
      const methodName = $(this).data("method");
      showSection(methodName)
     
    });
  });
  
</script>
{% endblock extra_js %}